.preloader{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #fff;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 666;

    &__logo{
        width: 70%;
        max-width: 400px;
        height: auto;

        margin-top: -100px;
    }
    &__dots{
        margin-top: -20px;
        .dot{
            display: inline-block;
            background: #666;
            height: 6px;
            width: 6px;
            opacity: 0.3;
            border-radius: 50%;
            animation: moveit 1.8s infinite;

            &:nth-child(2){
                animation-delay: .15s;
            }
            &:nth-child(3){
                animation-delay: .3s;
            }
            &:nth-child(4){
                animation-delay: .45s;
            }
            &:nth-child(5){
                animation-delay: .6s;
            }
        }
    }
    &__text{
        font-family: 'Montserrat-regular';
        font-size: 12px;
        text-align: center;

        margin-top: 20px;
    }
    @keyframes moveit {
        0% {
          transform: translateY(0px);
        }
        35% {
          transform: translateY(0px);
          opacity: 0.3;
        }
        50% {
          transform: translateY(-20px);
          opacity: 0.8;
        }
        70% {
          transform: translateY(3px);
          opacity: 0.8;
        }
        85% {
          transform: translateY(-3px);
        }
    }
}
@media (min-width: 375px){
    .preloader{
        &__dots{
            .dot{
                width: 8px;
                height: 8px;
            }
        }
    } 
}
@media (min-width: 768px){
    .preloader{
        &__dots{
            .dot{
                width: 8px;
                height: 8px;
            }
        }
        &__text{
            font-size: 16px;

            margin-top: 40px;
        }
    } 
}
.wrapper{
    .intro{
        width: 100%;
        height: 100%;
        background: url("../img/bg.png") no-repeat center/cover;

        padding: 100px 0 20px;

        &__title{
            font-family: 'Alice';
            font-size: 46px;
            font-weight: normal;
            color: #74CFE3;
            text-align: center;
            text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);

            margin: 0;

            span{
                font-size: 60px;
            }
        }
        &__logo{
            display: flex;
            width: 250px;

            margin: 0 auto;
        }
        &__text{
            font-family: 'Basis-regular';
            font-size: 16px;
            color: #fff;
            text-align: center;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

            margin-top: 10px;
        }
        &__social{
            display: none;
        }
    }
    .contact{
        &__title{
            font-family: 'Alice';
            font-size: 40px;
            font-weight: normal;
            color: #5CADBF;
            text-align: center;

            margin: 30px 0;
        }
        &__inner{
            &_active{
                .contact__active_title{
                    font-family: 'Basis-bold';
                    font-size: 22px;
                    color: #74CFE3;

                    margin-bottom: 20px;
                }
                .contact__active_info{
                    padding-bottom: 30px;

                    .info__title{
                        font-family: 'Basis-bold';
                        font-size: 16px;
                        color: #373737;
                        text-align: center;
                    }
                    .info__inner{
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        margin-bottom: 20px;

                        .info__phones{
                            margin: 20px 0 10px;
                            i{
                                display: flex;
                                justify-content: center;

                                font-size: 24px;
                                color: #74CFE3;

                                margin-bottom: 10px;
                            }
                            .phone__inner{
                                display: flex;
                                flex-direction: column;
                                
                                a{
                                    font-family: 'Montserrat-semiBold';
                                    font-size: 14px;
                                    margin: 10px 0;
                                }
                            }
                        }
                        .info__email{
                            i{
                                display: flex;
                                justify-content: center;

                                font-size: 18px;
                                color: #74CFE3;

                                margin-bottom: 10px;
                            }
                            p{
                                font-family: 'Montserrat-semiBold';
                                font-size: 14px;

                                cursor: pointer;
                            }
                        }
                    }
                    .info__social{
                        .social__title{
                            font-family: 'Basis-bold';
                            font-size: 16px;
                            color: #373737;
                            text-align: center;

                            margin-bottom: 20px;
                        }
                        &_inner{
                            display: flex;
                            justify-content: space-around;

                            width: 200px;

                            margin: 0 auto;

                            .info__social_item{
                                width: 40px;
                                height: 40px;
    
                                border: 1px #74CFE3 solid;
                                border-radius: 50%;

                                position: relative;

                                transition: border 0.2s linear;

                                i{
                                    font-size: 21px;
                                    color: #373737;

                                    position: absolute;
                                    top: 7px;
                                    left: 50%;

                                    transform: translate(-50%);
                                    transition: color 0.2s linear;
                                }

                                &:hover i{
                                    color: #74CFE3;
                                }
                                &:hover{
                                    border: 1px #373737 solid;
                                }
                            }
                        } 
                    }
                }
            }
            &_passive{
                .contact__passive_title{
                    font-family: 'Basis-bold';
                    font-size: 22px;
                    color: #74CFE3;

                    margin-bottom: 20px;
                }
                .contact__passive_form{
                    .input__name, .input__phone, .input__comment{
                        display: flex;
                        width: 300px;

                        font-family: 'Montserrat-regular';
                        font-size: 14px;
                        color: #0E0E0E;


                        background-color: transparent;
                        border: 1px solid #74CFE3;
                        border-radius: 5px;
                        filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.3));

                        padding: 16px 20px;
                        margin: 0 auto 10px;

                        &::placeholder{
                            color: #0E0E0E;
                        }
                    }
                    .incorrect{
                        display: none;
                        font-family: "Montserrat-regular";
                        font-size: 14px;
                        color: #F55A5A;

                        margin-bottom: 10px;
                    }
                    .accept{
                        display: flex;
                
                        margin: 19px 0 22px;
                
                
                        &__check{
                            min-width: 17px;
                            height: 17px;
                
                            margin-right: 8px;
                            position: relative;
                
                            border: 1px solid #74CFE3;
                            border-radius: 5px;
                            filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.3));
                            cursor: pointer;
                
                            &:before{
                                display: none;
                                content: '\e809';
                                font-family: 'fontello';
                                font-size: 10px;
                                
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                z-index: 1;
                
                                transform: translate(-50%, -50%);
                            }
                            &:checked:before{
                                display: block;
                            }
                        }
                
                        &__text{
                            font-family: 'Montserrat-regular';
                            font-size: 14px;
                            line-height: 18px;
                            color: #0E0E0E;
                
                            min-width: 274px;
                        }
                    }
                    .btn__send{
                        display: flex;
                        justify-content: center;
                        width: 300px;
                        height: auto;
                
                        font-family: 'Basis-bold';
                        font-size: 16px;
                        color: #fff;
                
                        background-color: #74CFE3;
                
                        border: none;
                        border-radius: 5px;
                        outline: none;
                
                        padding: 16px 0;
                        margin: 0 auto 50px;
                        transition: background-color .3s ease-out;
                        position: relative;
                        overflow: hidden;
                        box-shadow: 4px 4px 15px rgba(107, 228, 255, 0.5);
                
                        &:hover{
                            background-color: #2EA6C0;
                        }
                        &:before{
                            content: '';
                            background-image: url('../img/button-bg-blue.png');
                            background-size: contain;
                            background-repeat: no-repeat;
                            width: 62%;
                            height: 220%;
                            position: absolute;
                            top: -23px;
                            left: -6px;
                            z-index: 0;
                        }
                    }
                }
            }
        }
        .decor__img{
            display: none;
        }
    }
}
@media (min-width: 480px) {
    .wrapper{
        .contact{
            &__title{
                font-size: 52px;
            }

            &__inner_active{
                .contact__active_title{
                    font-size: 26px;
                }
                .contact__active_info{
                    .info__title{
                        font-size: 18px;
                    }
                    .info__inner{
                        .info__phones{
                            i{
                                font-size: 28px;
                            }
                            p{
                                font-size: 16px;
                            }
                        }
                        .info__email{
                            i{
                                font-size: 20px;
                            }
                            p{
                                font-size: 16px;
                            }
                        }
                    }
                    .info__social{
                        .social__title{
                            font-size: 18px;
                        }
                    }
                }
            }
            &__inner_passive{
                .contact__passive_title{
                    font-size: 26px;
                }
                .contact__passive_form{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    width: 100%;

                    .input__name{
                        width: calc(50% - 5px);
                        height: 40px;

                        margin: 0;
                        margin-bottom: 10px;
                    }
                    .input__phone_inner{
                        width: calc(50% - 5px);

                        margin: 0;
                        margin-bottom: 10px;

                        .input__phone{
                            width: 100%;
                            height: 40px;
                        }
                    }
                    .input__comment{
                        width: 100%;
                        height: 40px;
                    }
                    .accept{
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}
@media (min-width: 768px){
    .wrapper{
        .intro{
            &__logo{
                width: 300px;

                margin: 30px auto;
            }
            &__text{
                font-size: 18px;
                line-height: 26px;
                width: 600px;

                margin: 10px auto;
            }
        }
        .contact{
            &__title{
                font-size: 68px;
            }
            &__inner{
                &_active{
                    .contact__active_info{
                        .info__title{
                            font-size: 22px;
                            text-align: left;
                        }
                        .info__inner{
                            flex-direction: row;
                            justify-content: center;
                            align-items: flex-start;

                            
                            .info__phones{
                                margin-right: 40px;
                            }
                            .info__email{
                                margin: 20px 0 10px 40px;

                                p{
                                    margin-top: 18px;
                                }
                            }
                        }
                        .info__social{
                            .social__title{
                                font-size: 22px;
                                text-align: left;
                            }
                            &_inner{
                                .info__social_item{
                                    width: 46px;
                                    height: 46px;

                                    i{
                                        font-size: 25px;

                                        top: 9px;
                                    }
                                }
                            }

                        }
                    }
                }
                &_passive{
                    padding-bottom: 40px;

                    .contact__passive_form{
                        .btn__send{
                            width: 400px;

                            &:before{
                                top: -23px;

                                width: 46%;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 1024px) {
    .wrapper{
        .intro{
            &__title{
                font-size: 52px;

                span{
                    font-size: 64px;
                }
            }
            &__logo{
                width: 340px;
            }
            &__text{
                font-size: 22px;
            }

            &__social{
                display: flex;
                flex-direction: column;
                align-items: center;
                
                position: absolute;
                top: -40px;
                left: 12px;

                &_line{
                    height: 150px; 
                    border-left: 2px #fff solid;

                    margin-bottom: 20px;
                }

                i{
                    font-size: 20px;
                    color: #fff;
                    line-height: 2;

                    transition: color 0.2s linear;

                    &:hover{
                        color: #74CFE3;
                    }
                }
            }
        }
        .contact{
            &__title{
                text-align: left;
            }
            &__inner{
                display: flex;
                justify-content: space-between;
                width: 100%;

                &_active{
                    width: 48%;

                    .contact__active_title{
                        font-size: 20px;
                    }
                    .contact__active_info{
                        .info__title{
                            font-size: 16px;
                        }
                        .info__inner{
                            justify-content: space-between;

                            margin-bottom: 10px;
                            .info__phones{
                                display: flex;

                                margin-right: 0;
                                i{
                                    font-size: 22px;
                                }
                                .phone__inner{
                                    margin-left: 5px;

                                    p{
                                        font-family: 'Montserrat-semiBold';
                                        font-size: 14px;
    
                                        &:first-of-type{
                                            margin-top: 0;
                                        }
                                    }
                                }
                            }
                            .info__email{
                                display: flex;
                                margin-left: 0;
                                i{
                                    font-size: 16px;
                                }
                                p{
                                    font-family: 'Montserrat-semiBold';
                                    font-size: 14px;

                                    margin-top: 0;
                                    margin-left: 10px;
                                }
                                
                            }
                        }
                        .info__social{
                            .social__title{
                                font-size: 16px;
                            }
                            &_inner{
                                justify-content: space-between;
                                width: 160px;
                                margin: 0;

                                .info__social_item{
                                    width: 42px;
                                    height: 42px;

                                    i{
                                        font-size: 21px;
                                        top: 8px;
                                    }
                                }
                            }
                        }
                    }
                }
                &_passive{
                    width: 48%;

                    .contact__passive_title{
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
@media (min-width: 1280px) {
    .wrapper{
        .intro{
            &__title{
                font-size: 58px;

                span{
                    font-size: 72px;
                } 
            }
            &__logo{
                width: 360px;
            }
            &__text{
                font-size: 24px;
            }
        }
        .contact{
            position: relative;

            &__title{
                font-size: 72px;
            }
            &__inner{
                &_active{
                    .contact__active_info{
                        .info__inner{
                            .info__email{
                                margin-right: 60px;
                            }
                        }
                    }
                }
            }
            .decor__img{
                display: block;

                width: 400px;

                position: absolute;
                top: 180px;
                left: -120px;

                transform: rotate(-90deg);
            }
        }
    }
}
@media (min-width: 1600px) {
    .wrapper{
        .intro{
            &__title{
                font-size: 70px;

                span{
                    font-size: 90px;
                }
            }
            &__text{
                font-size: 26px;
                line-height: 34px;
                width: 900px;
            }
            &__social{
                top: -180px;
                left: 20px;

                &_line{
                    height: 290px; 
                    border-left: 2px #fff solid;

                    margin-bottom: 30px;
                }

                i{
                    font-size: 32px;
                    color: #fff;
                    line-height: 2;

                    transition: color 0.2s linear;

                    &:hover{
                        color: #74CFE3;
                    }
                }
            }
        }
        .contact{
            &__title{
                font-size: 80px;
            }
            &__inner{
                &_active{
                    .contact__active_title{
                        font-size: 24px;
                    }
                    .contact__active_info{
                        .info__title{
                            font-size: 20px;
                        }
                        .info__inner{
                            .info__phones{
                                i{
                                    font-size: 24px;
                                }
                                .phone__inner{
                                    p{
                                        font-size: 16px;
                                    }
                                }
                            }
                            .info__email{
                                margin-right: 80px;
                                i{
                                    font-size: 18px;
                                }
                                p{
                                    font-size: 16px;
                                }
                            }
                        }
                        .info__social{
                            .social__title{
                                font-size: 20px;
                            }
                            &_inner{
                                width: 200px;
                                .info__social_item{
                                    width: 54px;
                                    height: 54px;

                                    i{
                                        font-size: 28px;
                                        top: 9px;
                                    }
                                }
                            }
                        }
                    }
                }
                &_passive{
                    .contact__passive_title{
                        font-size: 24px;
                    }
                    .contact__passive_form{
                        .input__name, .input__phone, .input__comment{
                            font-size: 16px;
                        }
                        .accept{
                            &__text{
                                font-size: 16px;
                            }
                        }
                        .btn__send{
                            width: 100%;
                            font-size: 20px;
                            padding: 22px;

                            &:before{
                                top: -32px;
                                left: -9px;

                                width: 45%;
                            }
                        }
                    }
                }
            }
            .decor__img{
                width: 500px;

                top: 190px;
                left: -100px;
            }
        }
    }
}
@media (min-width: 1920px) {
    .wrapper{
        .intro{
            padding: 80px 0;

            &__title{
                font-size: 72px;
            }
            &__text{
                font-size: 30px;
            }
        }
        .contact{
            &__title{
                font-size: 96px;

                margin-top: 75px;
            }
            &__inner{
                &_active{
                    .contact__active_title{
                        font-size: 30px;
                    }
                    .contact__active_info{
                        .info__title{
                            font-size: 24px;
                        }
                        .info__social{
                            .social__title{
                                font-size: 24px;
                            }
                        }
                    }
                }
                &_passive{
                    width: 49%;
                    .contact__passive_title{
                        font-size: 30px;
                    }
                }
            }
        }
    }
}