.preloader{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #fff;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 666;

    &__logo{
        width: 70%;
        max-width: 400px;
        height: auto;

        margin-top: -100px;
    }
    &__dots{
        margin-top: -20px;
        .dot{
            display: inline-block;
            background: #666;
            height: 6px;
            width: 6px;
            opacity: 0.3;
            border-radius: 50%;
            animation: moveit 1.8s infinite;

            &:nth-child(2){
                animation-delay: .15s;
            }
            &:nth-child(3){
                animation-delay: .3s;
            }
            &:nth-child(4){
                animation-delay: .45s;
            }
            &:nth-child(5){
                animation-delay: .6s;
            }
        }
    }
    &__text{
        font-family: 'Montserrat-regular';
        font-size: 12px;
        text-align: center;

        margin-top: 20px;
    }
    @keyframes moveit {
        0% {
          transform: translateY(0px);
        }
        35% {
          transform: translateY(0px);
          opacity: 0.3;
        }
        50% {
          transform: translateY(-20px);
          opacity: 0.8;
        }
        70% {
          transform: translateY(3px);
          opacity: 0.8;
        }
        85% {
          transform: translateY(-3px);
        }
    }
}
@media (min-width: 375px){
    .preloader{
        &__dots{
            .dot{
                width: 8px;
                height: 8px;
            }
        }
    } 
}
@media (min-width: 768px){
    .preloader{
        &__dots{
            .dot{
                width: 8px;
                height: 8px;
            }
        }
        &__text{
            font-size: 16px;

            margin-top: 40px;
        }
    } 
}
.wrapper{
    -webkit-transform: translate3d(0,0,0);
    .intro{
        width: 100%;
        height: 100%;
        background: -moz-linear-gradient(top, rgba(165, 239, 255, 0.5), rgba(255, 255, 255, 0));
        background: -webkit-linear-gradient(top, rgba(165, 239, 255, 0.5), rgba(255, 255, 255, 0));

        position: relative;
        z-index: 5;
        -webkit-transform: translate3d(0,0,0);

        .container{
            padding: 80px 10px 40px;
        }
        &__title{
            font-family: 'Alice';
            font-size: 48px;
            color: #5CADBF;
            text-align: center;

            padding-bottom: 20px;
        }

        &__item_question{
            display: flex;
            align-items: center;
            width: 100%;

            background-color: #CCF6FF;
            border-radius: 30px 100px;
            box-shadow: 0px 4px 30px #C0E6EE;

            margin-bottom: 10px;
            padding: 20px;

            .intro__item_img{
                transform: scale(0.6);

            }
            .intro__item_text{
                font-family: 'Basis-regular';
                font-size: 12px;

                padding-right: 10px;
            }
        }
        &__item_answer{
            display: flex;
            align-items: center;
            width: 100%;

            background-color: #fff;
            border-radius: 100px 30px;
            box-shadow: 0px 4px 30px #DAF8FF;

            margin-bottom: 10px;
            padding: 20px;

            .intro__item_img{
                transform: scale(0.6);

            }
            .intro__item_text{
                font-family: 'Basis-regular';
                font-size: 12px;

                padding-right: 10px;
            }
        }

        &__social{
            display: none;
        }
        &__bot{
            display: none;
        }
    }
    .complex{
        padding: 47px 15px 109px 27px;
        position: relative;

        .complex-slider{
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            width: 100vw;

            &-item{
                width: 100%;
                height: 1077px;
            }
            @media(min-width: 768px){
                &-item{
                    height: 957px;
                }
                
            }
        }
        .complex-overlay{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 44, 54, 0.7);
        }

        .container{
            z-index: 999;
        }

        &-title{
            font-family: 'Alice';
            font-size: 58px;
            font-weight: normal;
            line-height: 48px;
            color: #fff;

            margin-bottom: 46px;

            &:before{
                content: '';
                display: block;

                width: 73px;
                height: 5px;

                background: #fff;
                border-radius: 5px;

                margin-bottom: 42px;
            }
        }
        &-text{
            font-family: 'Montserrat-bold';
            font-size: 14px;
            line-height: 24px;
            color: #fff;

            margin-bottom: 38px;
        }
        &-info{
            .complex-info{
                &-item{
                    margin-bottom: 38px;

                    &:last-child{
                        margin-bottom: 0;
                    }
                    .item-area, .item-person{
                        font-family: 'Alice';
                        font-size: 100px;
                        font-weight: normal;
                        line-height: 137px;
                        color: #fff;

                        margin-bottom: 11px;
                    }
                    .item-info{
                        font-family: 'Montserrat-regular';
                        font-size: 16px;
                        line-height: 18px;
                        color: #fff;
                    }
                }
            }
        }
        @media(min-width: 375px){
            .complex-info{
                &-item{
                    .item-area, .item-person{
                        font-size: 120px;
                    }
                }
            }
        }
    }
    .tent{
        padding: 50px 0;

        &__inner{
            padding: 0 10px;

            .tent__item{
                margin-top: 40px;

                position: relative;
                z-index: 5;

                &:first-child{
                    margin-top: 0;
                }

                .tent__bg{
                    width: 100%;
                    height: 100%;

                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;

                    opacity: 0;
                }
                i{
                    display: none;
                }
                &_title{
                    font-family: 'Alice';
                    font-size: 28px;
                    font-weight: normal;
                    line-height: 32px;
                    color: #74cfe3;
                    text-align: center;

                    margin-bottom: 10px;

                    position: relative;
                    z-index: 5;
                }
                &_info{
                    display: flex;
                    flex-wrap: wrap;

                    margin-bottom: 15px;

                    position: relative;
                    z-index: 5;

                    .info__item{
                        width: 50%;

                        .main{
                            font-family: 'Alice';
                            font-size: 18px;
                            font-weight: normal;
                            line-height: 22px;
                            color: #000;
                            text-align: center;
                        }

                        p{
                            font-family: 'Montserrat-medium';
                            font-size: 10px;
                            line-height: 14px;
                            color: #000;
                            text-align: center;
                        }
                    }
                }
            }
        }
        @media(min-width: 375px){
            &__inner{
                .tent__item{
                    &_title{
                        font-size: 34px;
                        line-height: 40px;
                        margin-bottom: 15px;
                    }
                    &_info{
                        .info__item{
                            .main{
                                font-size: 20px;
                                line-height: 24px;
                            }
                        }
                    }
                }
            }
        }
    }
    .btn__more{
        display: flex;
        justify-content: center;
        width: 300px;
        height: auto;

        font-family: 'Basis-bold';
        font-size: 16px;
        color: #fff;

        background-color: #74CFE3;

        border: none;
        border-radius: 5px;
        outline: none;

        padding: 16px 0;
        margin: 0 auto;
        transition: background-color .3s ease-out;
        position: relative;
        overflow: hidden;
        box-shadow: 4px 4px 15px rgba(107, 228, 255, 0.5);

        &:hover{
            background-color: #2EA6C0;
        }
        &:before{
            content: '';
            background-image: url('../img/button-bg-blue.png');
            background-size: contain;
            background-repeat: no-repeat;
            width: 62%;
            height: 220%;
            position: absolute;
            top: -23px;
            left: -6px;
            z-index: 0;
        }
    }
}
@media (min-width: 480px) {
    .wrapper{
        .intro{
            &__item_question{
                width: 460px;
            }
            &__item_answer{
                width: 460px;
                margin-right: 0;
                margin-left: auto;
            }
        }
    }
}
@media (min-width: 768px) {
    .wrapper{
        .intro{
            display: flex;
            align-items: center;
            justify-content: center;

            &__title{
                padding-top: 50px;
            }
            
            &__item_question{
                width: 550px;

                margin-bottom: 20px;

                .intro__item_text{
                    font-size: 16px;
                }
            }
            &__item_answer{
                width: 550px;

                margin-bottom: 20px;
                .intro__item_text{
                    font-size: 14px;
                }
            }
        }
        .small{
            .intro__item_img{
                transform: scale(0.4);
            }
            padding: 0 0 0 10px;
        }
        .complex{
            &-title{
                text-align: center;

                &:before{
                    margin: 0 auto 42px;
                }
            }
            &-text{
                text-align: center;
            }
            &-info{
                text-align: center;
            }
        }
        .tent{
            &__inner{
                .tent__item{
                    width: 350px;
                    margin: 40px auto 0;

                    &:first-child{
                        margin-top: 0;
                    }
                }
            }
        }
    }
}
@media (min-width: 1024px) {
    .wrapper{
        .intro{
            height: auto;
            overflow: scroll;
            .container{
                padding: 50px 50px;
            }
            &__title{
                position: absolute;
                top: 40px;
                left: -65px;

                transform: rotate(-90deg);
            }
            &__item_question{
                width: 600px;

                margin-bottom: 10px;
                padding: 10px;

                .intro__item_text{
                    font-size: 14px;
                    line-height: 18px;
                }
            }
            &__item_answer{
                width: 600px;

                margin-bottom: 10px;
                padding: 10px;

                .intro__item_text{
                    font-size: 14px;
                    line-height: 18px;
                }
            }
            .small{
                padding: 0;
            }
            &__social{
                display: flex;
                flex-direction: column;
                align-items: center;
                
                position: absolute;
                top: 0;
                left: 12px;

                &_line{
                    height: 150px; 
                    border-left: 2px #fff solid;

                    margin-bottom: 20px;
                }

                i{
                    font-size: 20px;
                    color: #fff;
                    line-height: 2;

                    transition: color 0.2s linear;

                    &:hover{
                        color: #74CFE3;
                    }
                }
            }
            &__bot{

                position: absolute;
                bottom: 21px;
                left: 13px;


                &_bg{
                    width: 40px;
                    height: 40px;

                    background-color: #74CFE3;
                    border-radius: 50%;
                    cursor: pointer;
                    box-shadow: 0px 0px 15px rgba(107, 228, 255, 0.5);

                    position: relative;
                    z-index: 1;

                    i{
                        color: #fff;
                        font-size: 20px;

                        position: absolute;
                        top: 50%;
                        left: 50%;

                        transform: translate(-50%, -50%);

                        &:before{
                            margin-left: 0;
                        }
                    }
                }
                &_text{
                    font-family: 'Basis-bold';
                    font-size: 16px;
                    color: #74CFE3;

                    width: 200px;
                    height: 40px;
                    background-color: #fff;
                    border-radius: 0 20px 20px 0;
                    opacity: 0;

                    padding-left: 32px;
                    padding-top: 10px;

                    position: absolute;
                    top: 0;
                    left: 20px;

                    transition: opacity 0.2s linear;

                }
                &:hover{
                    .intro__bot_text{
                        opacity: 1;
                    }
                }
            }
        }
        .complex{
            height: 100vh;
            padding: 100px 23px 100px 27px;

            position: relative;

            &:after{
                content: 'whitepark';

                font-family: 'Alice';
                font-size: 100px;
                color: #fff;
                text-transform: uppercase;

                opacity: 0.25;

                position: absolute;
                bottom: -25px;
                left: 0;
            }

            .complex-slider{
                &-item{
                    height: 100vh;
                }
            }

            &-title{
                text-align: left;
                line-height: 67px;

                margin-bottom: 16px;

                &:before{
                    height: 6px;
                    margin: 0 0 42px;
                }
            }
            &-text{
                width: 443px;
                text-align: left;

                margin-bottom: 45px;
            }
            .complex-info{
                display: flex;
                justify-content: space-between;

                &-item{
                    .item-area, .item-person{
                        font-size: 100px;
                    }
                    .item-info{
                        width: 120px;
                        text-align: left;
                        line-height: 20px;
                    }
                }
            }
        }
        .tent{ 
            height: 100vh;

            padding: 0;

            .tent__inner{
                display: flex;
                justify-content: space-between;
                height: 100vh;
                padding: 0;

                .tent__item{
                    width: 32.7%;
                    height: 100%;
                    margin: 0;
                    padding: 70px 0 0;

                    border-radius: 5px;

                    position: relative;

                    &:after{
                        content: '';
                        display: block;

                        width: 100%;
                        height: 100%;

                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 2;
                        background-color: rgba(6, 98, 118, 0.5);
                        border-radius: 5px;

                        opacity: 1;

                        transition: opacity 0.3s;
                    }

                    .tent__bg{
                        opacity: 0.5;

                        border-radius: 5px;
                    }
                    i{
                        display: flex;
                        justify-content: center;
                        
                        font-size: 120px;

                        position: relative;
                        z-index: 5;

                        color: #fff;

                        transition: color 0.3s;

                        margin-bottom: 20px;
                    }

                    .tent__item_title{
                        width: 160px;
                        color: #fff;
                        text-align: center;

                        margin: 0 auto 60px;

                        transition: color 0.3s;
                    }
                    .tent__item_info{
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .info__item{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100%;

                            &:first-child{
                                .main{
                                    display: block;
                                }
                                p{
                                    display: none;
                                }
                            }

                            .main{
                                font-family: 'Montserrat-semiBold';
                                font-size: 15px;
                                line-height: 25px;
                                color: #fff;

                                transition: color 0.3s;

                                position: relative;

                                &:before{
                                    content: '';
                                    display: block;
                                    width: 5px;
                                    height: 5px;
    
                                    position: absolute;
                                    top: 50%;
                                    left: -17px;
    
                                    border-radius: 50%;
                                    background: #fff;

                                    transform: translate(0, -50%);
                                    transition: all 0.3s;
                                }
                            }
                            p{
                                font-family: 'Montserrat-semiBold';
                                font-size: 15px;
                                line-height: 25px;
                                color: #fff;
                                text-transform: lowercase;

                                margin-left: 5px;

                                transition: color 0.3s;
                            }
                        }
                    }
                    .btn__more{
                        width: 200px;

                        position: absolute;
                        bottom: 40px;
                        left: 50%;
                        z-index: 5;

                        transform: translate(-50%, 0);

                        &:before{
                            width: 90%;

                            top: -22px;
                        }
                    }

                    &:hover:after{
                        opacity: 0;
                    }
                    &:hover{
                        i, .tent__item_title{
                            color: #000;
                        }
                        .tent__item_info{
                            .info__item{
                                p{
                                    color: #000;
                                }
                                .main{
                                    &:before{
                                        background: #000;
                                    }
                                }
                            }
                        }

                    }
                }
            }
        }
    }
}
@media (min-width: 1280px) {
    .wrapper{
        .intro{
            &__title{
                font-size: 56px;

                top: 45px;
                left: -65px;
            }
            &__item_question{
                .intro__item_text{
                    font-size: 16px;
                    line-height: 22px;
                }
            }
            &__item_answer{
                .intro__item_text{
                    font-size: 16px;
                    line-height: 22px;
                }
            }
        }
        .complex{
            .complex-info{
                &-item{
                    .item-area, .item-person{
                        font-size: 120px;
                    }
                }
            }
        }
        .tent{
            .tent__inner{
                .tent__item{
                    .tent__item_info{
                        .info__item{
                            .main{
                                font-size: 16px;
                                line-height: 28px;
                            }
                            p{
                                font-size: 16px;
                                line-height: 28px;
                            }
                        }
                    }
                    .btn__more{
                        width: 250px;

                        &:before{
                            width: 73%;
                        }
                    }
                }
            } 
            
        }
    }
}
@media (min-width: 1440px){
    .wrapper{
        .intro{
            &__title{
                font-size: 70px;

                top: 50px;
                left: -105px;
            }
            &__item_question{
                width: 750px;

                margin-bottom: 20px;

                .intro__item_img{
                    transform: scale(0.8);
                }
                .intro__item_text{
                    font-size: 18px;
                    line-height: 24px;

                    padding-left: 20px;
                }
            }
            &__item_answer{
                width: 750px;

                margin-bottom: 20px;
                .intro__item_img{
                    transform: scale(0.8);
                }
                .intro__item_text{
                    font-size: 18px;
                    line-height: 24px;

                    padding-left: 20px;
                }
            }
            .small{
                padding: 10px;
            }
        }
        .complex{

            &:after{
                font-size: 130px;
                bottom: -30px;
            }
            .complex-info{
                &-item{
                    .item-area, .item-person{
                        font-size: 135px;
                    }
                }
            }
        }
        .tent{
            .tent__inner{
                .tent__item{
                    padding-top: 120px;

                    .tent__item_title{
                        font-size: 40px;
                        line-height: 50px;
                    }
                    i{
                        margin-bottom: 40px;
                    }
                    .tent__item_info{
                        .info__item{
                            .main{
                                font-size: 18px;
                                line-height: 32px;
                            }
                            p{
                                font-size: 18px;
                                line-height: 32px;
                            }
                        }
                    }
                    .btn__more{
                        width: 300px;

                        &:before{
                            width: 78%;
                            top: -27px;

                        }
                    }
                }
            }
        }
        .btn__more{
            padding: 23px;
            font-size: 18px;

            &:before{
                top: -30px;
                left: -9px;
                width: 81%;
            }
        }
    }
}
@media (min-width: 1600px) {
    .wrapper{
        .intro{
            &__title{
                font-size: 96px;

                left: -160px;
                top: 55px;
            }
            &__item_question{
                width: 880px;
                padding: 10px 20px;
                margin-bottom: 10px;

                .intro__item_text{
                    font-size: 20px;
                    line-height: 26px;
                }
            }
            &__item_answer{
                width: 850px;
                padding: 10px 20px;

                .intro__item_text{
                    font-size: 20px;
                    line-height: 26px;
                }

                &:last-of-type{
                    margin-bottom: 0;
                }
            }
            &__social{
                left: 20px;

                &_line{
                    height: 290px; 
                    border-left: 2px #fff solid;

                    margin-bottom: 30px;
                }

                i{
                    font-size: 32px;
                    color: #fff;
                    line-height: 2;

                    transition: color 0.2s linear;

                    &:hover{
                        color: #74CFE3;
                    }
                }
            }
            &__bot{
                &_bg{
                    width: 60px;
                    height: 60px;

                    i{
                        font-size: 28px;
                    }
                }
                &_text{
                    font-size: 20px;
                    width: 250px;
                    height: 60px;

                    border-radius: 0 30px 30px 0;
                    padding-left: 42px;
                    padding-top: 18px;

                    left: 30px;
                }
            }
        }
        .complex{
            padding: 205px 0;

            &:after{
                font-size: 180px;
                bottom: -40px;
            }

            &-title{
                &:before{
                    height: 8px;
                }
            }
        }
        .tent{
            .tent__inner{
                .tent__item{
                    padding-top: 140px;

                    i{
                        font-size: 168px;
                    }
                    .tent__item_title{
                        width: 200px;
                        font-size: 48px;
                        line-height: 55px;

                        margin-bottom: 82px;
                    }
                    .tent__item_info{
                        .info__item{
                            .main{
                                font-size: 20px;
                                line-height: 36px;
                            }
                            p{
                                font-size: 20px;
                                line-height: 36px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 1920px){
    .wrapper{
        .intro{
            &__title{
                left: -120px;
            }
            &__item_question{
                padding: 20px;
                margin-bottom: 20px;

                .intro__item_img{
                    transform: scale(1);
                }
                .intro__item_text{
                    font-size: 22px;
                    line-height: 28px;
                }
            }
            &__item_answer{
                padding: 20px;

                .intro__item_img{
                    transform: scale(0.9);
                }
                .intro__item_text{
                    font-size: 22px;
                    line-height: 28px;
                }
            }
            .small{
                .intro__item_img{
                    transform: scale(0.7);
                }
            }
        }
        .complex{

            &:after{
                font-size: 200px;
                bottom: -45px;
            }
            .container{
                width: 1320px;
            }

            .complex-info{
                &-item{
                    .item-area, .item-person{
                        font-size: 150px;
                    }
                }
            }
        }
    }
    
    
}