.wrapper{
    .intro{
        background-color: rgba(0, 0, 0, 0.5);
        background-image: url("../img/bg.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        position: relative;
        display: flex;
        align-items: center;

        &__logo{
            display: none;
        }

        &__title{
            text-align: center;
            margin-top: 38px;
            padding-top: 20px;

            &_small{
                font-family: 'Alice';
                font-size: 30px;
                color: #74CFE3;
                text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
            }
            &_big{
                font-family: 'Alice';
                font-size: 60px;
                color: #74CFE3;
                text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
            }
        }
        &__subtitle{
            text-align: center;
            margin: 15px 0 45px;

            p{
                font-family: 'Basis-regular';
                font-size: 20px;
                color: #fff;
            }
        }
        &__buttons{
            .intro__btn{
                display: flex;
                justify-content: center;
                width: 300px;
                height: auto;
    
                font-family: 'Montserrat-medium';
                font-size: 16px;
                color: #fff;
    
                background-color: #74CFE3;
    
                border: none;
                border-radius: 5px;
                outline: none;
    
                padding: 16px 0;
                margin: 0 auto 20px;
                transition: background-color .3s ease-out;
                position: relative;
                overflow: hidden;
                box-shadow: 4px 4px 15px rgba(107, 228, 255, 0.5);
    
                &:hover{
                    background-color: #2EA6C0;
                }
                &:before{
                    content: '';
                    background-image: url('../img/button-bg-blue.png');
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 61%;
                    height: 220%;
                    position: absolute;
                    top: -22px;
                    left: -6px;
                    z-index: 0;
                }
                
            }
            .intro__play{
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                position: relative;
    
                width: 260px;
                margin: 0 auto;
    
                &_outline{
                    padding-left: 4px;
    
                    width: 56px;
                    height: 56px;
                    border: 1px #fff solid;
                    border-radius: 28px;
    
                    position: absolute;
                    left: 0;
                    top: 0;
    
                    transition: width 0.4s ease-out; 
    
                    i{
                        font-family: 'fontello';
                        font-size: 46px;
                        color: #fff;
                        filter: drop-shadow(4px 4px 4px rgba(255, 255, 255, 0.25));
    
                        position: absolute;
                        top: 50%;
                        left: 4px;
                        transform: translate(0, -50%);
        
                        &:before{
                            margin: 0;
                            
                        }
                    }
    
                }
    
                &_text{
                    font-family: "Basis-bold";
                    font-size: 16px;
                    color: #fff;
                    margin: 18px 0 0 55px;
                }
    
                .active, &:hover .intro__play_outline{
                    justify-content: flex-start;
                    width: 260px;
                    height: 56px;
                }
            }
        }
        &__social, &__bot, &__mouse{
            display: none;
        }
    }
    .video__popup{
        display: none;
        width: 100%;
        height: 100vh;

        cursor: pointer;


        &:before{
            content: '';
            width: 100%;
            height: 100%;

            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;

            background: #000;
            opacity: 0.8;
        }

        iframe{
            width: 90%;
            max-width: 720px;
            height: 50%;
            opacity: 1;

            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 3;

            transform: translate(-50%, -50%);
        }
    }
    .advantages{
        background: -moz-linear-gradient(top, rgba(116,207,227,0.08), rgba(255,255,255,0.08)),
                    -webkit-linear-gradient(top, rgba(116,207,227,0.08), rgba(255,255,255,0.08));
        background-image: url('../img/decor-blue.png');
        background-repeat: no-repeat;
        background-position: -150px 62px;
        position: relative;

        padding: 51px 0 45px;

        &__img{
            display: none;
            &_arrow{
                display: none;
            }
        }
        &__title{
            font-family: "Alice";
            font-size: 30px;
            color: #75CFE3;

            padding-bottom: 20px;
        }
        &__subtitle{
            font-family: "Montserrat-medium";
            font-size: 18px;
            color: #000;
            line-height: 24px;
        }
        &__list{
            margin-top: 38px;

            &_item{
                margin-left: 12px;
                margin-bottom: 15px;
                position: relative;

                &:last-of-type{
                    margin-bottom: 0;
                }
            }

            &_title{
                display: flex;
                align-items: center;

                .list__marker{
                    width: 16px;
                    height: 16px;

                    background-color: #75CFE3;
                    border-radius: 50%;

                    margin-right: 26px;

                    &_outline{
                        display: none;
                        width: 41px;
                        height: 41px;

                        border: 1px solid #75CFE3;
                        border-radius: 50%;

                        position: absolute;
                        top: -10px;
                        left: -13px;
                    }
                }
                .list__subtitle{
                    font-family: "Montserrat-semiBold";
                    font-size: 14px;
                    color: #000;
                    line-height: 22px;
                    cursor: pointer;
                }
            }

            &_text{
                display: none;
                font-family: 'Montserrat-regular';
                font-size: 14px;
                line-height: 20px;
                color: #000;
                margin-left: 42px;
            }
        }
        &__btn{
            display: none;
        }
        .decor__img{
            display: none;
        }
    }
    .map{
        height: 100vh;
        background-image: url("../img/map-bg.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        &__title{
            font-family: 'Alice';
            font-size: 64px;
            color: #75CFE3;
            text-shadow: 5px 4px 15px #000000;

            padding: 49px 0 0 11px;
        }
    }
    .tent{
        background-image: url('../img/tent-bg.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        padding: 48px 0;

        &__title{
            font-family: 'Alice';
            font-size: 32px;
            color: #75CFE3;
            text-align: center;

            margin-bottom: 35px;
        }

        &__text{
            font-family: "Basis-bold";
            font-size: 14px;
            line-height: 20px;
            color: #373737;
            text-align: center;

            margin-bottom: 32px;
        }
        &__btn{
            display: flex;
            justify-content: center;
            width: 300px;
            height: auto;

            font-family: 'Montserrat-medium';
            font-size: 16px;
            color: #74CFE3;

            background-color: #fff;

            border: none;
            border-radius: 5px;
            outline: none;

            padding: 16px 0;
            margin: 0 auto 30px;
            transition: background-color .3s ease-out;
            position: relative;
            overflow: hidden;
            box-shadow: 4px 4px 15px rgba(107, 228, 255, 0.5);

            &:hover{
                background-color: #EBFCFF;
            }
            &:before{
                content: '';
                background-image: url('../img/button-bg-white.png');
                background-size: contain;
                background-repeat: no-repeat;
                width: 61%;
                height: 220%;
                position: absolute;
                top: -24px;
                left: -6px;
                z-index: 0;
            }
            
        }
        &__info{
            border-top: 2px solid #373737;
            border-bottom: 2px solid #373737;

            padding: 30px 0;

            &_item{
                text-align: center;
                margin-bottom: 14px;
                
                &:last-of-type{
                    margin-bottom: 0;
                }
            }
            &_title{
                font-family: "Alice";
                font-size: 36px;
                line-height: 30px;
                color: #373737;

                margin-bottom: 10px;
            }
            &_text{
                font-family: 'Montserrat-medium';
                font-size: 18px;
                color: #373737;
            }
        }
        &__gallery{
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            grid-gap: 10px;
            width: 100%;
            height: 100%;

            margin: 30px 0;

            &_item{
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;

                width: 100%;
                min-width: 140px;
                height: 100%;
                min-height: 120px;
                border: 4px solid #fff;
            }
            .one{
                background-image: url('../img/gallery-1.png');
            }
            .two{
                background-image: url('../img/gallery-2.png');
            }
            .three{
                display: none;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                background-image: url('../img/gallery-5.png');
            }
            .four{
                background-image: url('../img/gallery-3.png');
            }
            .five{
                background-image: url('../img/gallery-4.png');
            }
        }
        .btn__more{
            display: flex;
            justify-content: center;
            width: 300px;
            height: auto;

            font-family: 'Montserrat-medium';
            font-size: 16px;
            color: #fff;

            background-color: #74CFE3;

            border: none;
            border-radius: 5px;
            outline: none;

            padding: 16px 0;
            margin: 0 auto;
            transition: background-color .3s ease-out;
            position: relative;
            overflow: hidden;
            box-shadow: 4px 4px 15px rgba(107, 228, 255, 0.5);

            &:hover{
                background-color: #2EA6C0;
            }
            &:before{
                content: '';
                background-image: url('../img/button-bg-blue.png');
                background-size: contain;
                background-repeat: no-repeat;
                width: 62%;
                height: 220%;
                position: absolute;
                top: -23px;
                left: -6px;
                z-index: 0;
            }
        }
    }
    .estimate{
        background-image: url('../img/estimate-bg-mobile.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: top;

        .container{
            padding-top: 177px;
            padding-bottom: 50px;
        }

        &__title{
            font-family: 'Alice';
            font-size: 32px;
            line-height: 36px;
            text-align: center;
            color: #74CFE3;

            margin-bottom: 22px;
        }
        &__text{
            font-family: 'Basis-regular';
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: #000;

            margin-bottom: 31px;
        }
        .input__name, .input__phone{
            display: flex;
            width: 300px;

            font-family: 'Montserrat-regular';
            font-size: 14px;
            color: #0E0E0E;


            background-color: transparent;
            border: 1px solid #74CFE3;
            border-radius: 5px;
            filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.3));

            padding: 16px 20px;
            margin: 0 auto 10px;

            &::placeholder{
                color: #0E0E0E;
            }
        }
        input[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
        .incorrect{
            display: none;
            font-family: "Montserrat-regular";
            font-size: 14px;
            color: #F55A5A;
        }
        .accept{
            display: flex;

            margin: 19px 0 22px;


            &__check{
                min-width: 17px;
                height: 17px;

                margin-right: 8px;

                border: 1px solid #74CFE3;
                border-radius: 5px;
                filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.3));
                cursor: pointer;

                &:before{
                    display: none;
                    content: '\e809';
                    font-family: 'fontello';
                    font-size: 10px;
                    
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    z-index: 1;

                    transform: translate(-50%, -50%);
                }
                &:checked:before{
                    display: block;
                }
            }

            &__text{
                min-width: 274px;
            }
        }
        .btn__send{
            display: flex;
            justify-content: center;
            width: 300px;
            height: auto;

            font-family: 'Montserrat-medium';
            font-size: 16px;
            color: #fff;

            background-color: #74CFE3;

            border: none;
            border-radius: 5px;
            outline: none;

            padding: 16px 0;
            margin: 0 auto;
            transition: background-color .3s ease-out;
            position: relative;
            overflow: hidden;
            box-shadow: 4px 4px 15px rgba(107, 228, 255, 0.5);

            &:hover{
                background-color: #2EA6C0;
            }
            &:before{
                content: '';
                background-image: url('../img/button-bg-blue.png');
                background-size: contain;
                background-repeat: no-repeat;
                width: 62%;
                height: 220%;
                position: absolute;
                top: -23px;
                left: -6px;
                z-index: 0;
            }
        }
        &__social{
            display: none;
        }
    }
    .portfolio{
        &__title{
            display: flex;
            justify-content: center;
            align-items: center;
            background: url('../img/portfolio-bg.png') no-repeat 50% 100%;
            // background-position: center;
            // background-repeat: no-repeat;
            background-size: cover;
            padding: 60px 0;

            width: 100%;
            height: auto;

            &_text{
                font-family: 'Alice';
                font-size: 50px;
                font-weight: normal;
                color: #74CFE3;
                text-shadow: 0px 4px 27px #000000;

            }
        }
        &__content_bis{
            padding-top: 48px;
            

            .portfolio__subtitle{
                width: 200px;

                font-family: 'Alice';
                font-size: 32px;
                font-weight: normal;
                line-height: 36px;
                color: #74CFE3;
                text-align: center;
                margin: 0 auto;

                position: relative;

                &:before{
                    display: block;
                    content: url("../img/portfolio-wave-left.png");
                    transform: scale(0.4);

                    position: absolute;
                    top: 10px;
                    left: -130px;

                }
                &:after{
                    display: block;
                    content: url("../img/portfolio-wave-right.png");
                    transform: scale(0.4);

                    position: absolute;
                    top: 10px;
                    left: 63px;
                }
            }
            .portfolio__content_inner{
                display: flex;
                flex-direction: column;
            }
            .portfolio__content_video{
                margin-top: 42px;
                background: url('../img/video-bis.png') no-repeat;
                background-size: cover;
                background-position: center;

                position: relative;

                .portfolio__play{
                    position: absolute;
                    top: 50%;
                    left: 50%;

                    transform: translate(-50%, -50%);

                    cursor: pointer;

                    &_outline{
                        width: 46px;
                        height: 46px;

                        border: 1px #fff solid;
                        border-radius: 50%;

                        margin: 0 auto 11px;

                        i{
                            position: absolute;
                            top: 6px;
                            left: 50%;
        
                            transform: translate(-50%);
                            
                            &:before{
                                font-size: 34px;
                                color: #fff;
                            }
                        }
                    }
                    &_text{
                        font-family: 'Basis-bold';
                        font-size: 16px;
                        color: #fff;
                    }
                }
            }
            .portfolio__content_photo{
                background: url('../img/photo-bis.png') no-repeat;
                background-size: cover;
                background-position: center;

                position: relative;

                .portfolio__photo{
                    position: absolute;
                    top: 50%;
                    left: 50%;

                    transform: translate(-50%, -50%);

                    cursor: pointer;

                    i{
                        display: flex;
                        justify-content: center;

                        margin-bottom: 11px;

                        &:before{
                            font-size: 30px;
                            color: #fff;
                        }
                    }
                    &_text{
                        font-family: 'Basis-bold';
                        font-size: 16px;
                        color: #fff;
                    }
                }
            }
        }
        &__content_private{
            padding-top: 48px;
            

            .portfolio__subtitle{
                width: 200px;

                font-family: 'Alice';
                font-size: 32px;
                font-weight: normal;
                line-height: 36px;
                color: #74CFE3;
                text-align: center;
                margin: 0 auto;

                position: relative;

                &:before{
                    display: block;
                    content: url("../img/portfolio-wave-left.png");
                    transform: scale(0.4);

                    position: absolute;
                    top: 10px;
                    left: -130px;

                }
                &:after{
                    display: block;
                    content: url("../img/portfolio-wave-right.png");
                    transform: scale(0.4);

                    position: absolute;
                    top: 10px;
                    left: 63px;
                }
            }
            .portfolio__content_inner{
                display: flex;
                flex-direction: column;
            }
            .portfolio__content_video{
                background: url('../img/video-pr.png') no-repeat;
                background-size: cover;
                background-position: center;

                position: relative;

                .portfolio__play{
                    position: absolute;
                    top: 50%;
                    left: 50%;

                    transform: translate(-50%, -50%);

                    cursor: pointer;

                    &_outline{
                        width: 46px;
                        height: 46px;

                        border: 1px #fff solid;
                        border-radius: 50%;

                        margin: 0 auto 11px;

                        i{
                            position: absolute;
                            top: 6px;
                            left: 50%;
        
                            transform: translate(-50%);
                            
                            &:before{
                                font-size: 34px;
                                color: #fff;
                            }
                        }
                    }
                    &_text{
                        font-family: 'Basis-bold';
                        font-size: 16px;
                        color: #fff;
                    }
                }
            }
            .portfolio__content_photo{
                background: url('../img/photo-pr.png') no-repeat;
                background-size: cover;
                background-position: center;

                position: relative;

                .portfolio__photo{
                    position: absolute;
                    top: 50%;
                    left: 50%;

                    transform: translate(-50%, -50%);

                    cursor: pointer;

                    i{
                        display: flex;
                        justify-content: center;

                        margin-bottom: 11px;

                        &:before{
                            font-size: 30px;
                            color: #fff;
                        }
                    }
                    &_text{
                        font-family: 'Basis-bold';
                        font-size: 16px;
                        color: #fff;
                    }
                }
            }
        }
        &__mouse{
            display: none;
        }
    }
}

/* Media Queries */

@media (min-width: 480px) {
    .wrapper{
        .tent{
            &__gallery{
                &_item{
                    min-height: 180px;
                }
            }
        }
        .estimate{
            .container{
                width: 400px;
                padding-top: 320px;
            }
            .accept{
                margin: 19px auto 22px;
            }
        }
        .portfolio{
            &__content_bis, &__content_private{
                .portfolio__subtitle{
                    width: 400px;

                    &:before{
                        top: -27px;
                        left: -100px;
                    }
                    &:after{
                        top: -27px;
                        left: 232px;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .wrapper{
        .intro{
            &__title{
                &_small{
                    font-size: 36px;
                }
                &_big{
                    font-size: 72px;
                }
            }
            &__subtitle{
                p{
                    font-size: 22px;
                }
            }
        }
        .advantages{
            background-image: url('../img/advantages-bg.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            height: 100vh;

            padding-top: 20px;

            &__img{
                display: block;
                width: 500px;
                height: auto;

                &_arrow{
                    display: block;

                    width: 300px;
                    height: auto;

                    margin: 0 auto -33px;
                }

            }
            &__inner{
                width: 500px;
                background-color: rgba(255, 255, 255, .9);

                padding: 60px 50px 0;

                position: absolute;
                top: 141.5px;

            }
            &__title{
                font-size: 40px;
            }
            &__subtitle{
                font-size: 20px;
            }
            &__list_item{
                margin-left: 0;

                .list__subtitle{
                    font-size: 16px;
                }
                .advantages__list_text{
                    font-size: 16px;
                    line-height: 22px;
                }
            }
            &__btn{
                display: flex;
                justify-content: center;
                width: 257px;
                height: auto;

                font-family: 'Montserrat-medium';
                font-size: 16px;
                color: #fff;

                background-color: #74CFE3;

                border: none;
                border-radius: 5px;
                outline: none;

                padding: 16px 0;
                margin: 40px 0;
                transition: background-color .3s ease-out;
                position: relative;
                overflow: hidden;
                box-shadow: 4px 4px 15px rgba(107, 228, 255, 0.5);

                &:hover{
                    background-color: #2EA6C0;
                }
                &:before{
                    content: '';
                    background-image: url('../img/button-bg-blue.png');
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 72%;
                    height: 220%;
                    position: absolute;
                    top: -23px;
                    left: -6px;
                    z-index: 0;
                }
            }
        }
        .tent{
            &__title{
                font-size: 40px;
            }
            &__subtitle{
                display: flex;
                justify-content: space-between;
                align-items: center;

                .tent__text{
                    width: auto;
                    text-align: left;
                }
                .tent__btn{
                    min-width: 300px;
                    width: 300px;

                    margin-right: 0;
                    margin-left: 20px;
                }
            }
            &__info{
                display: flex;
                justify-content: space-between;

                &_item{
                    margin-bottom: 0;
                    .tent__info_title{
                        font-size: 30px;
                    }
                }
            }
            &__gallery{
                &_item{
                    min-width: 250px;
                    height: 125px;
                }
            }
        }
        .estimate{
            background-image: url('../img/estimate-bg.png');
            background-position-x: -600px;
            height: 100vh;
            position: relative;

            .container{
                padding-top: 100px;

                margin-left: 150px;
            }
            &__title{
                text-align: left;
            }
            &__text{
                text-align: left;
            }
            .input__name, .input__phone{
                margin: 0 0 10px;
            }
            .btn__send{
                margin: 0;
            }
            &__social{
                display: flex;
                flex-direction: column;
                align-items: center;
                
                position: absolute;
                top: 0;
                left: 12px;

                &_line{
                    height: 150px; 
                    border-left: 2px rgba(116, 207, 227, 0.39) solid;

                    margin-bottom: 20px;
                }

                i{
                    font-size: 20px;
                    color: rgba(116, 207, 227, 0.39);
                    line-height: 2;

                    transition: color 0.2s linear;

                    &:hover{
                        color: #74CFE3;
                    }
                }
            }
        }
        .portfolio{
            &__title{
                position: relative;
                &_text{
                    font-size: 70px;
                }
                .portfolio__mouse{
                    display: block;
                    width: 31px;
                    height: auto;

                    position: absolute;
                    bottom: -30px;
                    left: 50%;

                    transform: translate(-50%);
                }
            }
            &__content_bis, &__content_private{
                /* background: url('../img/decor-blue.png') no-repeat;
                background-position: -150px -20px;
                background-size: cover; */

                .portfolio__subtitle{
                    font-size: 40px;
                    width: 500px;

                    &:before{
                        top: -25px;
                        left: -90px;
                    }
                    &:after{
                        top: -25px;
                        left: 320px;
                    }
                }
                .portfolio__content_inner{
                    width: 100%;
                    height: auto;

                    flex-direction: row;

                    .portfolio__content_video{
                        margin-top: 42px;
                        width: 50%;
                    }
                    .portfolio__content_photo{
                        margin-top: 42px;
                        width: 50%;
                    }
                }
            }
        }
    }
}
@media (min-width: 1024px) {
    .wrapper{
        .intro{
            padding-top: 0;
            display: block;

            &__logo{
                display: flex;
                margin: 0 auto;
                padding-top: 50px;
                width: 330px;

            }
            &__title{
                text-align: left;
            }
            &__subtitle{
                text-align: left;
            }
            &__buttons{
                display: flex;
                justify-content: flex-start;

                .intro__btn{
                    width: 269px;
                    margin: 0;
                    font-size: 18px;

                    padding: 23px 0;

                    &:before{
                        width: 93%;

                        top: -32px;
                        left: -10px;
                    }
                }
                .intro__play{
                    margin-left: 0;
                    margin-left: 19px;
                    &_outline{
                        top: 5px;

                        i{
                            left: 4.5px;
                        }
                    }
                    &_text{
                        margin-top: 0;
                    }
                }
            }
            &__social{
                display: flex;
                flex-direction: column;
                align-items: center;
                
                position: absolute;
                top: 0;
                left: 12px;

                &_line{
                    height: 150px; 
                    border-left: 2px #fff solid;

                    margin-bottom: 20px;
                }

                i{
                    font-size: 20px;
                    color: #fff;
                    line-height: 2;

                    transition: color 0.2s linear;

                    &:hover{
                        color: #74CFE3;
                    }
                }
            }
            &__bot{
                display: block;

                position: absolute;
                bottom: 21px;
                left: 13px;


                &_bg{
                    width: 40px;
                    height: 40px;

                    background-color: #74CFE3;
                    border-radius: 50%;
                    cursor: pointer;
                    box-shadow: 0px 0px 15px rgba(107, 228, 255, 0.5);

                    position: relative;
                    z-index: 1;

                    i{
                        color: #fff;
                        font-size: 20px;

                        position: absolute;
                        top: 50%;
                        left: 50%;

                        transform: translate(-50%, -50%);

                        &:before{
                            margin-left: 0;
                        }
                    }
                }
                &_text{
                    font-family: 'Basis-bold';
                    font-size: 16px;
                    color: #74CFE3;

                    width: 200px;
                    height: 40px;
                    background-color: #fff;
                    border-radius: 0 20px 20px 0;
                    opacity: 0;

                    padding-left: 32px;
                    padding-top: 10px;

                    position: absolute;
                    top: 0;
                    left: 20px;

                    transition: opacity 0.2s linear;

                }
                &:hover{
                    .intro__bot_text{
                        opacity: 1;
                    }
                }
            }
            &__mouse{
                display: block;
                width: 41px;
                height: auto;

                position: absolute;
                bottom: -5px;
                left: 50%;

                transform: translate(-50%);
            }
        }
        .tent{
            &__subtitle{
                .tent__btn{
                    padding: 23px 0;

                    &:before{
                        top: -31px;
                        left: -9px;
                        width: 78%;
                    }
                }
            }
            
            &__gallery{
                display: grid;
                    grid-template-areas: 
                    'one three two'
                    'four three five';
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-rows: 1fr 1fr;
                &_item{
                    max-width: 362px;
                }
                .one{
                    grid-area: one;
                    justify-self: center;
                    width: 100%;
                    border: 9px #fff solid;
                }
                .two{
                    grid-area: two;
                    justify-self: center;
                    width: 100%;
                    border: 9px #fff solid;
                }
                .three{
                    grid-area: three;
                    display: block;
                    width: 100%;
                    height: 100%;
                    justify-self: center;
                    border: 13px #fff solid;
                }
                .four{
                    grid-area: four;
                    justify-self: center;
                    width: 100%;
                    border: 9px #fff solid;
                }
                .five{
                    grid-area: five;
                    justify-self: center;
                    width: 100%;
                    border: 9px #fff solid;
                }
            }
            .btn__more{
                padding: 23px;
                font-size: 18px;

                &:before{
                    top: -30px;
                    left: -9px;
                    width: 81%;
                }
            }
        }
        .estimate{
            background-position-x: -200px;

            .container{
                padding-top: 150px;
            }
        }
    }
    
}
@media (min-width: 1280px) {
    .wrapper{
        .intro{
            &__logo{
                width: 345px;
            }
            &__title{
                padding-top: 0;

                &_small{
                    font-size: 48px;
                }
                &_big{
                    font-size: 96px;
                }
            }
        }
        .advantages{
            position: relative;
            &__img{
                margin-left: 50px;
            }
            &__inner{
                margin-left: 50px;
            }
            .decor__img{
                display: block;
                width: 800px;

                transform: rotate(-90deg);

                position: absolute;
                top: 360px;
                left: -255px;
            }
        }
        .tent{
            &__subtitle{
                .tent__text{
                    font-size: 16px;
                }
                .tent__btn{
                    margin-left: 50px;
                }
            }
            &__info{
                &_item{
                    .tent__info_title{
                        font-size: 36px;
                    }
                    .tent__info_text{
                        font-size: 20px;
                    }
                } 
            }
            
        }
        .estimate{
            background-position-x: 0;

            .container{
                width: 450px;
                margin-left: 250px;
            }

            &__title{
                font-size: 42px;
            }
            &__text{
                font-size: 18px;
            }
            .input__name, .input__phone{
                width: 400px;
                margin-bottom: 20px;
            }
            .btn__send{
                width: 400px;

                &:before{
                    width: 47%;
                }
            }
        }
        .portfolio{
            &__title{
                padding: 80px 0;

                &_text{
                    font-size: 80px;
                }

                .portfolio__mouse{
                    display: block;
                    width: 36px;
                    height: auto;

                    position: absolute;
                    bottom: -30px;
                    left: 50%;

                    transform: translate(-50%);
                }
            }
            &__content_bis, &__content_private{
                .portfolio__content_inner{
                    .portfolio__content_video{
                        .portfolio__play{
                            &_outline{
                                width: 74px;
                                height: 74px;

                                i{
                                    top: 9px;
                                    &:before{
                                        font-size: 56px;
                                    }
                                }
                            }
                            &_text{
                                font-size: 20px;
                            }
                        }
                    }
                    .portfolio__content_photo{
                        .portfolio__photo{
                            i{
                                &:before{
                                    font-size: 56px;
                                }
                            }
                            &_text{
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
            &__content_private{
                padding-top: 100px;
            }
        }
    }
}
@media (min-width: 1600px) {
    .wrapper{
        .intro{
            &__logo{
                width: 390px;
                padding-top: 100px;
            }
            &__title{
                padding-top: 0;

                &_small{
                    font-size: 72px;
                }
                &_big{
                    font-size: 140px;
                }
            }
            &__subtitle{
                p{
                    font-size: 36px;
                }
            }
            &__buttons{
                .intro__play{
                    width: 300px;
                    &_text{
                        font-size: 20px;
                        margin-left: 65px;
                    }
                    .active, &:hover .intro__play_outline{
                        width: 310px;
                    }
                }
            }
            &__social{
                left: 20px;

                &_line{
                    height: 290px; 
                    border-left: 2px #fff solid;

                    margin-bottom: 30px;
                }

                i{
                    font-size: 32px;
                    color: #fff;
                    line-height: 2;

                    transition: color 0.2s linear;

                    &:hover{
                        color: #74CFE3;
                    }
                }
            }
            &__bot{
                &_bg{
                    width: 60px;
                    height: 60px;

                    i{
                        font-size: 28px;
                    }
                }
                &_text{
                    font-size: 20px;
                    width: 250px;
                    height: 60px;

                    border-radius: 0 30px 30px 0;
                    padding-left: 42px;
                    padding-top: 18px;

                    left: 30px;
                }
            }
            &__mouse{
                width: 51px;
            }
        }
        .video__popup{
            iframe{
                max-width: 1000px;
            }
        }
        .advantages{
            &__img{
                width: 770px;
                height: auto;

                &_arrow{
                    margin-bottom: -34px;
                }
            }
            &__inner{
                width: 770px;

                padding: 120px 70px 0;

                top: 219px;
            }
            &__title{
                font-size: 62px;
            }
            &__subtitle{
                font-size: 24px;
            }
            &__list{
                margin-top: 50px;

                &_item{
                    margin-bottom: 30px;
                    .list__subtitle{
                        font-size: 20px;
                    }
                    .advantages__list_text{
                        font-size: 20px;
                    }
                }
            }
            &__btn{
                margin: 50px 0;
                padding: 23px;

                &:before{
                    width: 92%;
                    top: -29px;
                    left: -8px;
                }
            }
            .decor__img{
                display: block;
                width: 1000px;

                transform: rotate(-90deg);

                position: absolute;
                top: 520px;
                left: -255px;
            }
        }
        .tent{
            padding: 90px 0;

            &__title{
                font-size: 64px;
            }
            &__subtitle{
                .tent__text{
                    font-size: 20px;
                    line-height: 26px;
                }
                .tent__btn{
                    min-width: 381px;
                    font-size: 20px;

                    &:before{
                        top: -35px;
                        width: 67%;
                    }
                }
            }
            &__gallery{
                margin: 42px 0;
            }
            .btn__more{
                width: 410px;
                font-size: 20px;

                &:before{
                    top: -31px;
                    left: -10px;
                    width: 62%;
                }
            }
        }
        .estimate{

            .container{
                width: 675px;
                margin-left: 300px;
            }

            &__title{
                font-size: 64px;
                line-height: 60px;
            }
            &__text{
                font-size: 24px;
                line-height: 30px;
            }
            .input__name, .input__phone{
                width: 560px;
                font-size: 16px;
                padding: 23px 20px;
                margin-bottom: 20px;
            }
            .incorrect{
                font-size: 16px;
            }
            .btn__send{
                font-family: 'Basis-bold';
                font-size: 20px;
                width: 560px;
                padding: 22px 0;

                &:before{
                    width: 44%;
                    top: -31px;
                    left: -9px;
                }
            }
            &__social{
                left: 20px;

                &_line{
                    height: 290px; 
                    border-left: 2px rgba(116, 207, 227, 0.39) solid;

                    margin-bottom: 30px;
                }

                i{
                    font-size: 32px;
                    color: rgba(116, 207, 227, 0.39);
                    line-height: 2;

                    transition: color 0.2s linear;

                    &:hover{
                        color: #74CFE3;
                    }
                }
            }
        }
        .portfolio{
            &__title{
                padding: 100px 0;
                &_text{
                    font-size: 150px;
                }
                .portfolio__mouse{
                    width: 61px;

                    bottom: -60px;
                }
            }
            .portfolio__content_bis, .portfolio__content_private{
                .portfolio__subtitle{
                    font-size: 70px;
                    line-height: 55px;
                    width: 1000px;

                    margin-bottom: 10px;

                    &:before{
                        transform: scale(1);

                        top: -5px;
                        left: 20px;
                    }
                    &:after{
                        transform: scale(1);

                        top: -5px;
                        left: 720px;
                    }
                }
            }
        }
    }
}
@media (min-width: 1920px) {
    .wrapper{
        .intro{
            &__logo{
                padding-top: 165px;
            }
        }
        .advantages{
            .decor__img{
                display: block;
                width: 1100px;

                transform: rotate(-90deg);

                position: absolute;
                top: 460px;
                left: -200px;
            }
        }
    }
}