.wrapper{
    .intro{
        background-image: url("../img/bg.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        position: relative;
        padding-top: 113px;

        &__title{
            text-align: center;
            margin-top: 38px;
            padding-top: 20px;

            &_small{
                font-family: 'Alice';
                font-size: 30px;
                color: #74CFE3;
                text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
            }
            &_big{
                font-family: 'Alice';
                font-size: 60px;
                color: #74CFE3;
                text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
            }
        }
        &__subtitle{
            text-align: center;
            margin: 15px 0 45px;

            p{
                font-family: 'Basis-regular';
                font-size: 20px;
                color: #fff;
            }
        }
        &__btn{
            display: flex;
            justify-content: center;
            width: 300px;
            height: auto;

            font-family: 'Montserrat-medium';
            font-size: 16px;
            color: #fff;

            background-color: #74CFE3;

            border: none;
            border-radius: 5px;
            outline: none;

            padding: 16px 0;
            margin: 0 auto 20px;
            transition: background-color .3s ease-out;
            position: relative;
            overflow: hidden;
            box-shadow: 4px 4px 15px rgba(107, 228, 255, 0.5);

            &:hover{
                background-color: #2EA6C0;
            }
            &:before{
                content: '';
                background-image: url('../img/button-bg-blue.png');
                background-size: contain;
                background-repeat: no-repeat;
                width: 61%;
                height: 220%;
                position: absolute;
                top: -24px;
                left: -6px;
                z-index: 0;
            }
            
        }
        &__play{
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            position: relative;

            width: 260px;
            margin: 0 auto;

            &_outline{
                padding-left: 4px;

                width: 56px;
                height: 56px;
                border: 1px #fff solid;
                border-radius: 28px;

                position: absolute;
                left: 0;
                top: 0;

                transition: width 0.4s ease-out; 

                i{
                    font-family: 'fontello';
                    font-size: 47px;
                    color: #fff;
                    filter: drop-shadow(4px 4px 4px rgba(255, 255, 255, 0.25));
    
                    &:before{
                        margin: 0;
                        
                    }
                }

            }

            &_text{
                font-family: "Basis-bold";
                font-size: 16px;
                color: #fff;
                margin: 18px 0 0 55px;
            }

            .active, &:hover .intro__play_outline{
                justify-content: flex-start;
                width: 260px;
                height: 56px;
            }
        }
    }
    .video__popup{
        display: none;
        width: 100%;
        height: 100vh;

        cursor: pointer;

        position: absolute;
        top: -151px;
        left: 0;
        z-index: 20;

        &:before{
            content: '';
            width: 100%;
            height: 100%;

            position: absolute;
            top: 0;
            left: 0;

            background: #000;
            opacity: 0.8;
        }

        iframe{
            width: 90%;
            max-width: 720px;
            height: 50%;
            opacity: 1;

            position: absolute;
            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);
        }
    }
    .advantages{
        background: -moz-linear-gradient(top, rgba(116,207,227,0.08), rgba(255,255,255,0.08)),
                    -webkit-linear-gradient(top, rgba(116,207,227,0.08), rgba(255,255,255,0.08));
        /* background-image: url('../img/advantages-bg.png');
        background-repeat: no-repeat;
        background-position: 0 82px; */
        position: relative;

        padding: 51px 0 45px;

        &__title{
            font-family: "Alice";
            font-size: 30px;
            color: #75CFE3;

            padding-bottom: 20px;
        }
        &__subtitle{
            font-family: "Montserrat-medium";
            font-size: 18px;
            color: #000;
            line-height: 24px;
        }
        &__list{
            margin-top: 38px;

            &_item{
                margin-left: 12px;
                margin-bottom: 15px;
                position: relative;

                &:last-of-type{
                    margin-bottom: 0;
                }
            }

            &_title{
                display: flex;
                align-items: center;

                .list__marker{
                    width: 16px;
                    height: 16px;

                    background-color: #75CFE3;
                    border-radius: 50%;

                    margin-right: 26px;

                    &_outline{
                        display: none;
                        width: 41px;
                        height: 41px;

                        border: 1px solid #75CFE3;
                        border-radius: 50%;

                        position: absolute;
                        top: -10px;
                        left: -13px;
                    }
                }
                .list__subtitle{
                    font-family: "Montserrat-semiBold";
                    font-size: 14px;
                    color: #000;
                    line-height: 22px;
                    cursor: pointer;
                }
            }

            &_text{
                display: none;
                font-family: 'Montserrat-regular';
                font-size: 14px;
                line-height: 20px;
                color: #000;
                margin-left: 42px;
            }
        }
    }
    .map{
        height: 100vh;
        background-image: url("../img/map-bg.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        &__title{
            font-family: 'Alice';
            font-size: 64px;
            color: #75CFE3;
            text-shadow: 5px 4px 15px #000000;

            padding: 49px 0 0 11px;
        }
    }
    .tent{
        background-image: url('../img/tent-bg.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        padding: 48px 0;

        &__title{
            font-family: 'Alice';
            font-size: 32px;
            color: #75CFE3;
            text-align: center;

            margin-bottom: 35px;
        }

        &__text{
            font-family: "Basis-bold";
            font-size: 14px;
            line-height: 20px;
            color: #373737;
            text-align: center;

            margin-bottom: 32px;
        }
        &__btn{
            display: flex;
            justify-content: center;
            width: 300px;
            height: auto;

            font-family: 'Montserrat-medium';
            font-size: 16px;
            color: #74CFE3;

            background-color: #fff;

            border: none;
            border-radius: 5px;
            outline: none;

            padding: 16px 0;
            margin: 0 auto 30px;
            transition: background-color .3s ease-out;
            position: relative;
            overflow: hidden;
            box-shadow: 4px 4px 15px rgba(107, 228, 255, 0.5);

            &:hover{
                background-color: #EBFCFF;
            }
            &:before{
                content: '';
                background-image: url('../img/button-bg-white.png');
                background-size: contain;
                background-repeat: no-repeat;
                width: 61%;
                height: 220%;
                position: absolute;
                top: -24px;
                left: -6px;
                z-index: 0;
            }
            
        }
        &__info{
            border-top: 2px solid #373737;
            border-bottom: 2px solid #373737;

            padding: 30px 0;

            &_item{
                text-align: center;
                margin-bottom: 14px;

                p{
                    font-family: "Alice";
                    font-size: 36px;
                    line-height: 30px;
                    color: #373737;

                    span{
                        font-family: 'Montserrat-medium';
                        font-size: 18px;
                        color: #373737;
                    }
                }
                
                &:last-of-type{
                    margin-bottom: 0;
                }
            }
        }
    }
}

