.wrapper{
    .main{
        background: linear-gradient(180deg, rgba(165, 239, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);

        overflow: hidden;

        .container{
            padding-top: 100px;
        }
        &__title{
            font-family: 'Alice';
            font-size: 30px;
            color: #5CADBF;
            text-align: center;
        }
        &__info{
            padding: 20px 0;

            &_item{
                .item__title{
                    font-family: "Alice";
                    font-size: 24px;
                    color: #373737;

                    margin-bottom: 15px;
                }
                .item__text{
                    font-family: 'Basis-regular';
                    font-size: 14px;
                    line-height: 22px;
                    color: #373737;

                    margin-bottom: 30px;

                    .part{
                        padding-bottom: 15px;

                    }
                    ul{
                        padding-bottom: 15px;

                        li{
                            position: relative;

                            &:before{
                                content: '\2022';
                                color: #74CFE3;
                                font-size: 45px;

                                position: relative;
                                top: 8px;

                                padding-right: 5px;
                            }
                        }
                    }
                }
            }
        }
        &__bot{
            display: none;
        }
        .decor__img{
            display: none;
        }
    }
}
@media (min-width: 768px) {
    .wrapper{
        .main{
            &__title{
                font-size: 40px;

                padding-top: 30px;
            }
        }
    }
}
@media (min-width: 1024px) {
    .wrapper{
        .main{
            position: relative;
            &__title{
                font-size: 50px;
            }
            .container{
                padding-top: 0;
            }
            &__info{
                &_item{
                    .item__title{
                        font-size: 36px;
                    }
                    .item__text{
                        font-size: 16px;
                        line-height: 26px;

                        margin-bottom: 55px;
                    }
                }
            }
            .decor__img{
                display: block;

                position: absolute;
                left: -50px;

                transform: scale(1.7);
            }
            .one{
                top: 20%;
            }
            .two{
                bottom: 20%;
            }

            &__bot{
                display: block;

                position: fixed;
                bottom: 21px;
                left: 13px;


                &_bg{
                    width: 40px;
                    height: 40px;

                    background-color: #74CFE3;
                    border-radius: 50%;
                    cursor: pointer;
                    box-shadow: 0px 0px 15px rgba(107, 228, 255, 0.5);

                    position: relative;
                    z-index: 1;

                    i{
                        color: #fff;
                        font-size: 20px;

                        position: absolute;
                        top: 50%;
                        left: 50%;

                        transform: translate(-50%, -50%);

                        &:before{
                            margin-left: 0;
                        }
                    }
                }
                &_text{
                    font-family: 'Basis-bold';
                    font-size: 16px;
                    color: #74CFE3;

                    width: 200px;
                    height: 40px;
                    background-color: #fff;
                    border-radius: 0 20px 20px 0;
                    opacity: 0;

                    padding-left: 32px;
                    padding-top: 10px;

                    position: absolute;
                    top: 0;
                    left: 20px;

                    transition: opacity 0.2s linear;

                }
                &:hover{
                    .main__bot_text{
                        opacity: 1;
                    }
                }
            }
        }
    }
}
@media (min-width: 1280px) {
    .wrapper{
        .main{
            &__title{
                font-size: 64px;

                position: absolute;
                top: 500px;
                left: -580px;

                transform: rotate(-90deg);
            }
            .decor__img{
                transform: scale(2);
            }
        }
    }
}
@media (min-width: 1440px) {
    .wrapper{
        .main{
            &__info{
                padding-top: 90px;
            }
            &__title{
                font-size: 72px;

                top: 650px;
                left: -650px;
            }
        }
    }
}
@media (min-width: 1600px) {
    .wrapper{
        .main{
            &__title{
                font-size: 96px;

                top: 800px;
                left: -900px;
            }
            &__bot{
                &_bg{
                    width: 60px;
                    height: 60px;

                    i{
                        font-size: 28px;
                    }
                }
                &_text{
                    font-size: 20px;
                    width: 250px;
                    height: 60px;

                    border-radius: 0 30px 30px 0;
                    padding-left: 42px;
                    padding-top: 18px;

                    left: 30px;
                }
            }
        }
    }
}