@import "libs/header";
@import "libs/header-line";
@import "libs/footer";
@import 'libs/contacts';
@import 'libs/map-footer-contact';
@import "libs/maps";
@import "libs/popup-gallery";
@import "libs/popup-estimate";
@import "libs/popup-zayavka";
@import "libs/popup-video-portfolio";
@import "libs/popup-video";
@import "libs/fonts";
@import "libs/fontello";
@import 'libs/normalize';

body {
    min-height: 100vh;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

html {
    box-sizing: border-box;
    position: relative;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

i{
    font-style: normal;
}

ul li,
ol li {
    margin: 0;
}

input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

input:not([type=checkbox]):not([type=radio]),
textarea, 
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
    cursor: pointer;
}

.clearfix {
    &:after {
        content: " ";
        visibility: hidden;
        display: block;
        font-size: 0;
        clear: both;
        height: 0;
    }
}

input{
    -webkit-appearance: none;   
    appearance: none;   
}

a {
    cursor: pointer;
}

.container {
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
    position: relative;

}
.next-tent{
    width: 35px;
    height: 35px;

    border-radius: 50%;
    border: 3px solid #373737;
    background-color: transparent;
    color: transparent;

    position: absolute;
    top: 0px;
    right: 10px;
    z-index: 2;

    transition: border 0.1s linear;

    &:before{
        content: '\e800';
        font-family: 'fontello';
        font-size: 20px;
        color: #74CFE3;

        position: absolute;
        top: 4px;
        left: 50%;

        transform: translate(-50%);

        transition: color 0.1s linear;
    }
    &:hover{
        border: 3px solid #74CFE3;
    }
    &:hover:before{
        color: #373737;
    }
}
.prev-tent{
    width: 35px;
    height: 35px;

    border-radius: 50%;
    border: 3px solid #373737;
    background-color: transparent;
    color: transparent;

    position: absolute;
    top: 0px;
    left: 10px;
    z-index: 2;

    transition: border 0.1s linear;

    &:before{
        content: '\e801';
        font-family: 'fontello';
        font-size: 20px;
        color: #74CFE3;

        position: absolute;
        top: 4px;
        left: 50%;

        transform: translate(-50%);

        transition: color 0.1s linear;
    }

    &:hover{
        border: 3px solid #74CFE3;
    }
    &:hover:before{
        color: #373737;
    }
}
.prev-seat{
    width: 35px;
    height: 35px;

    border-radius: 50%;
    border: 3px solid #373737;
    background-color: transparent;
    color: transparent;

    position: absolute;
    top: 0px;
    left: 10px;
    z-index: 2;

    transition: border 0.1s linear;

    &:before{
        content: '\e801';
        font-family: 'fontello';
        font-size: 20px;
        color: #74CFE3;

        position: absolute;
        top: 4px;
        left: 50%;

        transform: translate(-50%);

        transition: color 0.1s linear;
    }

    &:hover{
        border: 3px solid #74CFE3;
    }
    &:hover:before{
        color: #373737;
    }
}
.next-seat{
    width: 35px;
    height: 35px;

    border-radius: 50%;
    border: 3px solid #373737;
    background-color: transparent;
    color: transparent;

    position: absolute;
    top: 0px;
    right: 10px;
    z-index: 2;

    transition: border 0.1s linear;

    &:before{
        content: '\e800';
        font-family: 'fontello';
        font-size: 20px;
        color: #74CFE3;

        position: absolute;
        top: 4px;
        left: 50%;

        transform: translate(-50%);

        transition: color 0.1s linear;
    }
    &:hover{
        border: 3px solid #74CFE3;
    }
    &:hover:before{
        color: #373737;
    }
}
@media (min-width: 480px) {
    .prev-seat, .next-seat{
        top: 10px;
    }
}
@media (min-width: 1024px) {
    .next-tent{
        top: 0;
    }
    .prev-tent{
        top: 0;
    }
}
@media (min-width: 1280px) {
    .next-project{
        top: 25%;
    }
    .prev-project{
        top: 25%;
    }
}
@media (min-width: 1440px) {
    .prev-tent{
        top: 8px;
    }
    .next-tent{
        top: 8px;
    }
}
@media (min-width: 1600px) {
    .prev-tent{
        width: 59px;
        height: 59px;

        top: 0px;

        &:before{
            font-size: 32px;
            top: 10px;
        }
    }
    .next-tent{
        width: 59px;
        height: 59px;

        top: 0px;

        &:before{
            font-size: 32px;
            top: 10px;
        }
    }
    .prev-seat, .next-seat{
        width: 59px;
        height: 59px;

        top: 0px;

        &:before{
            font-size: 32px;

            top: 10px;
        }
    }
}

// SLICK SLIDER
.seating{
    &__title_slider{

        .slick-current{
            text-align: center;
            position: relative;

            padding-bottom: 50px;

            &:after{
                content: url('../img/wave-tent-slider.png');
                display: block;
                
                transform: scale(0.5);

                position: absolute;
                top: -20px;
                left: 4%;
            }
        }
    }
    @media(min-width: 414px){
        .seating{
            &__title_slider{
                .slick-current{
                    &:after{
                        left: 11%;
                    }
                }
            }
        }
    }
    @media (min-width: 768px) {
        .seating{
            &__title_slider{
                .slick-current{

                    &:after{
                        top: -10px;
                        left: -40px;
                    }
                }
            }
        }
    }
    @media (min-width: 1024px) {
        .seating{
            &__title_slider{
                .slick-current{
                    padding-bottom: 20px;

                    &:after{
                        top: -20px;
                        left: -20px;
                    }
                }
            }
        }
    }
    @media (min-width: 1280px) {
        .seating{
            &__title_slider{
                .slick-current{

                    &:after{
                        top: -20px;
                        left: -10px;
                    }
                }
            }
        }
    }
    @media (min-width: 1440px) {
        .seating{
            &__title_slider{
                .slick-current{
                    padding-bottom: 40px;

                    &:after{
                        top: -15px;
                    }
                }
            }
        }
    }
    @media (min-width: 1600px) {
        .seating{
            &__title_slider{
                .slick-current{

                    &:after{
                        top: -10px;
                        left: 0;
                    }
                }
            }
        }
    }
}
.tent{
    .tent__title_slider{
        .slick-current{
            color: #74CFE3;

        }
    }
    @media (min-width: 768px){
        .tent__title_slider{
            .slick-track{
                display: flex;
                align-items: center;
            }
            .slick-slide{
                width: auto;
                font-size: 25px;
                color: #000;
            }
            .slick-current{
                color: #74CFE3;

                transform: scale(1.1);
            }
        }
    }
    @media (min-width: 1024px){
        .tent__title_slider{
            .slick-slide{
                font-size: 28px;
            }
        }
    }
}
.project{
    &__slider_nav{
        .slick-current{
            width: 50px;
        }
        .slick-next{
            width: 35px;
            height: 35px;
        
            border-radius: 50%;
            border: 3px solid #373737;
            background-color: transparent;
            color: transparent;
        
            position: absolute;
            top: 30%;
            right: 0;
            z-index: 2;
        
            transition: border 0.1s linear;
        
            &:before{
                content: '\e800';
                font-family: 'fontello';
                font-size: 20px;
                color: #74CFE3;
        
                position: absolute;
                top: 4px;
                left: 50%;
        
                transform: translate(-50%);
        
                transition: color 0.1s linear;
            }
            &:hover{
                border: 3px solid #74CFE3;
            }
            &:hover:before{
                color: #373737;
            }
        }
        .slick-prev{
            width: 35px;
            height: 35px;
        
            border-radius: 50%;
            border: 3px solid #373737;
            background-color: transparent;
            color: transparent;
        
            position: absolute;
            top: 30%;
            left: 0;
            z-index: 2;
        
            transition: border 0.1s linear;
        
            &:before{
                content: '\e801';
                font-family: 'fontello';
                font-size: 20px;
                color: #74CFE3;
        
                position: absolute;
                top: 4px;
                left: 50%;
        
                transform: translate(-50%);
        
                transition: color 0.1s linear;
            }
        
            &:hover{
                border: 3px solid #74CFE3;
            }
            &:hover:before{
                color: #373737;
            }
        
        }
    }
    @media(min-width: 768px){
        .slick-next, .slick-prev{
            top: 40%;
        }
    }
    @media(min-width: 1280px){
        .slick-next, .slick-prev{
            top: 35%;
        }
    }
}
.project-popup{
    &__slider{
        &_nav{
            .slick-list{
                .slick-track{
                    margin: 0 auto;
                }
            }
            .slick-next{
                width: 35px;
                height: 35px;
            
                border-radius: 50%;
                border: 3px solid #373737;
                background-color: transparent;
                color: transparent;
            
                position: absolute;
                top: 30%;
                right: 0;
                z-index: 2;
            
                transition: border 0.1s linear;
            
                &:before{
                    content: '\e800';
                    font-family: 'fontello';
                    font-size: 20px;
                    color: #74CFE3;
            
                    position: absolute;
                    top: 4px;
                    left: 50%;
            
                    transform: translate(-50%);
            
                    transition: color 0.1s linear;
                }
                &:hover{
                    border: 3px solid #74CFE3;
                }
                &:hover:before{
                    color: #373737;
                }
            }
            .slick-prev{
                width: 35px;
                height: 35px;
            
                border-radius: 50%;
                border: 3px solid #373737;
                background-color: transparent;
                color: transparent;
            
                position: absolute;
                top: 30%;
                left: 0;
                z-index: 2;
            
                transition: border 0.1s linear;
            
                &:before{
                    content: '\e801';
                    font-family: 'fontello';
                    font-size: 20px;
                    color: #74CFE3;
            
                    position: absolute;
                    top: 4px;
                    left: 50%;
            
                    transform: translate(-50%);
            
                    transition: color 0.1s linear;
                }
            
                &:hover{
                    border: 3px solid #74CFE3;
                }
                &:hover:before{
                    color: #373737;
                }
            
            }
        }
        @media(min-width: 768px){
            .slick-next, .slick-prev{
                top: 40%;
            }
        }
        @media(min-width: 1280px){
            .slick-next, .slick-prev{
                top: 35%;
            }
        }
    }
}

.video__reviews{
    .slick-prev{
        width: 35px;
        height: 35px;
    
        border-radius: 50%;
        border: 3px solid #373737;
        background-color: transparent;
        color: transparent;
    
        position: absolute;
        bottom: 5px;
        left: 35%;

        transition: border 0.1s linear;
    
        &:before{
            content: '\e801';
            font-family: 'fontello';
            font-size: 20px;
            color: #74CFE3;
    
            position: absolute;
            top: 4px;
            left: 50%;
    
            transform: translate(-50%);

            transition: color 0.1s linear;
        }

        &:hover{
            border: 3px solid #74CFE3;
        }
        &:hover:before{
            color: #373737;
        }
    }
    .slick-next{
        width: 35px;
        height: 35px;
    
        border-radius: 50%;
        border: 3px solid #373737;
        background-color: transparent;
        color: transparent;
    
        position: absolute;
        bottom: 5px;
        right: 35%;

        transition: border 0.1s linear;
    
        &:before{
            content: '\e800';
            font-family: 'fontello';
            font-size: 20px;
            color: #74CFE3;
    
            position: absolute;
            top: 4px;
            left: 50%;
    
            transform: translate(-50%);

            transition: color 0.1s linear;
        }
        &:hover{
            border: 3px solid #74CFE3;
        }
        &:hover:before{
            color: #373737;
        }
    }
    @media (min-width: 768px) {
        .slick-prev{
            left: 40%;
        }
        .slick-next{
            right: 40%;
        }

    }
    @media (min-width: 1280px) {
        .slick-prev{
            left: 45%;
        }
        .slick-next{
            right: 45%;
        }

    }
    @media (min-width: 1440px) {
        .slick-prev{
            bottom: 50px; 
            left: 45%;
        }
        .slick-next{
            bottom: 50px;
            right: 45%;
        }
    }
    @media (min-width: 1600px) {
        .slick-prev{
            width: 59px;
            height: 59px;

            bottom: 30px;
            left: 43%;

            &:before{
                font-size: 32px;

                top: 10px;
            }
        }
        .slick-next{
            width: 59px;
            height: 59px;

            bottom: 30px;
            right: 43%;

            &:before{
                font-size: 32px;

                top: 10px;
            }
        }
    }
}

@media (min-width: 768px) {

    .container {
        width: 708px;
        padding: 0;
    }

}

@media (min-width: 1024px) {

    .container {
        width: 864px;
    }

}

@media (min-width: 1280px) {

    .container {
        width: 1000px;
    }

}

@media (min-width: 1400px) {

    .container {
        width: 1100px;
    }

}


@media (min-width: 1600px) {

    .container {
        width: 1177px;
    }

}