<div class="section">
    <div class="contacts">
        <div class="container">
    
            <img class="contacts__img" src="img/header-wave.png"></img>
            <div class="contacts__inner">
                <h1 class="contacts__title">Контакты</h1>
    
                <div class="contacts__address">
                    <i class="icon-location"></i>
                    <p class="contacts__address_text">г. Москва, Мякининское ш., д.3 (Рублевский пляж)</p>
                    <a class="route" href="#">Построить маршрут</a>
                </div>
                <div class="contacts__phones">
                    <i class="icon-phone"></i>
                    <p class="contacts__phone">+7 (985) 777-4-555</p>
                    <p class="contacts__phone">+7 (926) 063-12-99</p>
                </div>
                <div class="contacts__social">
                    <a href="https://www.facebook.com/thewhitepark" target="_blank"><i class="icon-facebook"></i></a>
                    <a href="https://www.instagram.com/white_park/" target="_blank"><i class="icon-instagram"></i></a>
                    <a href="https://vk.com/whiteparknewrigabay" target="_blank"><i class="icon-vkontakte"></i></a>
                </div>
                <img class="contacts__img_arrow" src="img/bottom-arrow.png" alt="">
            </div>
    
        </div><!-- /.container -->
        <div class="contacts__map"></div>
        <!-- Footer -->
        <include src="assets/templates/footer.html"></include>
    </div><!-- contacts -->
</div>

