<header class="header__line">
    <div class="header__line_inner">
        <div class="header__logo_line">
            <a><img class="header__logo_white" src="img/logo.png" alt="logo"></a>
            
        </div>
        <div class="header__info_line">
            <a><img class="header__logo_dark" src="img/logo-dark.png" alt="logo"></a>
            
            <nav class="nav">
                <!-- Desctop Header Menu -->
                <ul id="menu-main-menu-header" class="nav__inner">
                    <li id="menu-item-1419" class="nav__link menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-48 current_page_item menu-item-1419  active "><a href="http://local.white-park.plemya-demo.ru/" aria-current="page">Главная</a></li>
                    <li id="menu-item-1420" class="nav__link menu-item menu-item-type-post_type menu-item-object-page menu-item-1420"><a href="http://local.white-park.plemya-demo.ru/kitchen/">Кухня</a></li>
                    <li id="menu-item-267" class="nav__link menu-item menu-item-type-post_type menu-item-object-page menu-item-267"><a href="http://local.white-park.plemya-demo.ru/reviews/">Отзывы</a></li>
                    <li id="menu-item-1421" class="nav__link menu-item menu-item-type-post_type menu-item-object-page menu-item-1421"><a href="http://local.white-park.plemya-demo.ru/faq/">FAQ</a></li>
                    <li id="menu-item-194" class="nav__link menu-item menu-item-type-post_type menu-item-object-page menu-item-194"><a href="http://local.white-park.plemya-demo.ru/contacts/">Контакты</a></li>
                </ul>                <!-- END: Desctop Header Menu -->
            </nav>

            <div class="header__contacts">
                <div class="header__address">
                    <i class="icon-location"></i>
                    <p class="header__address_text">
                        г. Москва, Мякининское ш., д.3 (Рублевский пляж)
                    </p>
                </div>
                <div class="header__phones">
                    <i class="icon-phone"></i>
                    <div class="header__phones_info">
                        <a>+7 (985) 777-4-555</a>
                        <a>+7 (926) 063-12-99</a>
                    </div>
                </div>
                <button class="header__btn" name="call">Заказать звонок</button>
            </div>
            
        </div><!-- /.header__info -->

        <button class="nav__toggle_line">
            <div class="nav__toggle_btn"><i class="icon-menu"></i></div>
            <p>Меню</p>
            <div class="nav__toggle_loc"><i class="icon-location"></i></div>
            <div class="nav__toggle_phone"><i class="icon-phone"></i></div>
        </button>

    </div><!-- /.header__inner -->
</header>