<header class="header">
    <div class="header__inner">
        <div class="header__logo">
            <img class="header__logo_white" src="img/logo.png" alt="logo">
            
        </div>
        <div class="header__info">
            <img class="header__logo_dark" src="img/logo-dark.png" alt="logo">
            
            <nav class="nav">
                <a href="#" class="nav__link">Главная</a>
                <a href="#" class="nav__link">Площадки</a>
                <a href="#" class="nav__link">Кухня</a>
                <a href="#" class="nav__link">Мероприятия</a>
                <a href="#" class="nav__link">Галерея</a>
                <a href="#" class="nav__link">Отзывы</a>
                <a href="#" class="nav__link">FAQ</a>
                <a href="#" class="nav__link">Контакты</a>
            </nav>

            <div class="header__contacts">
                <div class="header__address">
                    <i class="icon-location"></i>
                    <p class="header__address_text">
                        г. Москва, Мякининское ш., д.3 (Рублевский пляж)
                    </p>
                </div>
                <div class="header__phones">
                    <i class="icon-phone"></i>
                    <div class="header__phones_info">
                        <p>+7 (985) 777-4-555</p>
                        <p>+7 (926) 063-12-99</p>
                    </div>
                </div>
                <button class="header__btn" name="call">Заказать звонок</button>
            </div>
            
        </div><!-- /.header__info -->

        <button class="nav__toggle">
            <div class="nav__toggle_btn"><i class="icon-menu"></i></div>
            <p>Меню</p>
        </button>

    </div><!-- /.header__inner -->
</header>