<header class="header">
    <div class="header__inner">
        <div class="header__logo">
            <img class="header__logo_white" src="img/logo.png" alt="logo">
            
        </div>
        <div class="header__info">
            <img class="header__logo_dark" src="img/logo-dark.png" alt="logo">
            
            <nav class="nav">
                <ul id="menu-main-menu-header" class="nav__inner">
                    <li id="menu-item-932" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-932"><a class="nav__link" href="#">Главная</a></li>
                    <li id="menu-item-1086" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1086"><a class="nav__link" href="#">Площадки</a>
                        <ul class="sub-menu">
                            <li id="menu-item-1087" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1087"><a href="#">Площадка 1</a></li>
                            <li id="menu-item-1088" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1088"><a href="#">Площадка 2</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-1089" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1089"><a class="nav__link" href="#">Кухня</a>
                        <ul class="sub-menu">
                            <li id="menu-item-1090" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1090"><a href="#">Кухня 1</a></li>
                            <li id="menu-item-1091" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1091"><a href="#">Кухня 2</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-1092" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1092"><a class="nav__link" href="#">Мероприятия</a></li>
                    <li id="menu-item-1093" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1093"><a class="nav__link" href="#">Галерея</a></li>
                    <li id="menu-item-1094" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1094"><a class="nav__link" href="#">Отзывы</a></li>
                    <li id="menu-item-1095" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1095"><a class="nav__link" href="#">FAQ</a></li>
                    <li id="menu-item-1096" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1096"><a class="nav__link" href="#">Контакты</a></li>
                </ul>
            </nav>

            <div class="header__contacts">
                <div class="header__address">
                    <i class="icon-location"></i>
                    <p class="header__address_text">
                        г. Москва, Мякининское ш., д.3 (Рублевский пляж)
                    </p>
                </div>
                <div class="header__phones">
                    <i class="icon-phone"></i>
                    <div class="header__phones_info">
                        <p>+7 (985) 777-4-555</p>
                        <p>+7 (926) 063-12-99</p>
                    </div>
                </div>
                <button class="header__btn" name="call">Заказать звонок</button>
            </div>
            
        </div><!-- /.header__info -->

        <button class="nav__toggle">
            <div class="nav__toggle_btn"><i class="icon-menu"></i></div>
            <p>Меню</p>
            <div class="nav__toggle_loc"><i class="icon-location"></i></div>
            <div class="nav__toggle_phone"><i class="icon-phone"></i></div>
        </button>

    </div><!-- /.header__inner -->
</header>