<div class="contacts__footer">
    <div class="contacts__map">
        <h1 class="contacts__title">Схема проезда</h1>
        <p class="contacts__text"><span>г. Москва</span>, Мякининское ш., д.3 (Рублевский пляж)</p>

        <div class="makeroute">
            <div class="makeroute__main">
                <p class="makeroute__title">Построить маршрут</p>
                <i class="icon-location"></i>
            </div>

            <div class="makeroute__inner hide">
                <div class="makeroute__nav">
                    <img src="img/contact-nav.png" alt="nav">
                    <p>Навигатор</p>
                </div>
                <div class="makeroute__yandex">
                    <img src="img/contact-yandex.png" alt="yandex">
                    <p>Яндекс. Карты</p>
                </div>
                <div class="makeroute__google">
                    <img src="img/contact-google.png" alt="google">
                    <p>Гугл-Карты</p>
                </div>
            </div>
            
        </div>

        <a class="contact__bot" href="#">
            <div class="contact__bot_bg">
                <i class="icon-paper-plane-1"></i>
            </div>
            <p class="contact__bot_text">Перейти в чат-бот</p>
        </a>
    </div>


    <!-- Footer -->
    <include src="assets/templates/footer.html"></include>
</div><!-- contacts -->


