<div class="project hide-gallery popup-prj-1">
    <div class="container">

        <div class="project__title">Мероприятия</div>

        <div class="project__inner">
            <div class="main-slider-title-biz">
                <p class="slider-title-item">Детский праздник</p>
                <p class="slider-title-item">День рождения</p>
                <p class="slider-title-item">Свадьба</p>
                <p class="slider-title-item">День рождения</p>
            </div>
            <div class="main-slider-biz">

                <div class="main-slider-item">
                    <div class="project__slider">
                        <div class="project__slider_img slider-for">
                            <div class="slider__img_item"><a href="img/project-1.jpg"><div class="img-slider" style="background: url('img/project-1.jpg') no-repeat center; background-size: cover;"></div></a></div>
                            <div class="slider__img_item"><a href="img/project-2.jpg"><div class="img-slider" style="background: url('img/project-2.jpg') no-repeat center; background-size: cover;"></div></a></div>
                            <div class="slider__img_item"><a href="img/project-3.jpg"><div class="img-slider" style="background: url('img/project-3.jpg') no-repeat center; background-size: cover;"></div></a></div>
                            <div class="slider__img_item"><a href="img/project-1.jpg"><div class="img-slider" style="background: url('img/project-1.jpg') no-repeat center; background-size: cover;"></div></a></div>
                            <div class="slider__img_item"><a href="img/project-2.jpg"><div class="img-slider" style="background: url('img/project-2.jpg') no-repeat center; background-size: cover;"></div></a></div>
                            <div class="slider__img_item video-item"><a href="https://www.youtube.com/watch?v=z_neMO2t4jU"><div class="img-slider" style="background: url('img/project-3.jpg') no-repeat center; background-size: cover;"></div></a></div>
                        </div>


                        <div class="project__slider_nav slider-nav">
                            <div><img src="img/project-1.jpg" alt=""></div>
                            <div><img src="img/project-2.jpg" alt=""></div>
                            <div><img src="img/project-3.jpg" alt=""></div>
                            <div><img src="img/project-1.jpg" alt=""></div>
                            <div><img src="img/project-2.jpg" alt=""></div>
                            <div><img class="video-item-img" src="http://img.youtube.com/vi/z_neMO2t4jU/2.jpg" alt=""></div>
                        </div>
                    </div>

                    <div class="project__info">
                        <div class="project__info_main">
                            <div class="project__info_title">Детский праздник</div>
                            <div class="project__info_subtitle">200 персон</div>
                        </div>

                        <div class="project__info_inner">
                            <p class="place">Площадка: Малый шатер</p>
                            <p class="format">Форматы: Фуршет</p>
                        </div>

                        <div class="project__info_text">Уютный детский праздник в стиле Hello Kitty для малышки и её друзей сумел остаться ввоспоминаниях детей и
                            взрослых на долгие годы, благодаря ярким волшебным декорациям,
                            разнообразным развлечениям, шоу мыльных пузырей, бумажной дискотеке и, конечно же, кенди
                            бару!
                            Красочный и веселый праздник стал отправной точкой семьи и ее друзей в праздновании дней
                            рождени
                            й в White Park!</div>
                    </div>
                </div>
                <div class="main-slider-item">
                    <div class="project__slider">
                        <div class="project__slider_img slider-for">
                            <div class="slider__img_item"><a href="img/project-1.jpg"><div class="img-slider" style="background: url('img/project-1.jpg') no-repeat center; background-size: cover;"></div></a></div>
                            <div class="slider__img_item"><a href="img/project-2.jpg"><div class="img-slider" style="background: url('img/project-2.jpg') no-repeat center; background-size: cover;"></div></a></div>
                            <div class="slider__img_item"><a href="img/project-3.jpg"><div class="img-slider" style="background: url('img/project-3.jpg') no-repeat center; background-size: cover;"></div></a></div>
                            <div class="slider__img_item"><a href="img/project-1.jpg"><div class="img-slider" style="background: url('img/project-1.jpg') no-repeat center; background-size: cover;"></div></a></div>
                            <div class="slider__img_item"><a href="img/project-2.jpg"><div class="img-slider" style="background: url('img/project-2.jpg') no-repeat center; background-size: cover;"></div></a></div>
                            <div class="slider__img_item video-item"><a href="https://www.youtube.com/watch?v=z_neMO2t4jU"><div class="img-slider" style="background: url('img/project-3.jpg') no-repeat center; background-size: cover;"></div></a></div>
                        </div>


                        <div class="project__slider_nav slider-nav">
                            <div><img src="img/project-1.jpg" alt=""></div>
                            <div><img src="img/project-2.jpg" alt=""></div>
                            <div><img src="img/project-3.jpg" alt=""></div>
                            <div><img src="img/project-1.jpg" alt=""></div>
                            <div><img src="img/project-2.jpg" alt=""></div>
                            <div><img class="video-item-img" src="http://img.youtube.com/vi/z_neMO2t4jU/2.jpg" alt=""></div>
                        </div>
                    </div>

                    <div class="project__info">
                        <div class="project__info_main">
                            <div class="project__info_title">День рождения</div>
                            <div class="project__info_subtitle">400 персон</div>
                        </div>

                        <div class="project__info_inner">
                            <p class="place">Площадка: Малый шатер</p>
                            <p class="format">Форматы: Фуршет</p>
                        </div>

                        <div class="project__info_text">Уютный детский праздник в стиле Hello Kitty для малышки и её друзей сумел остаться ввоспоминаниях детей и
                            взрослых на долгие годы, благодаря ярким волшебным декорациям,
                            разнообразным развлечениям, шоу мыльных пузырей, бумажной дискотеке и, конечно же, кенди
                            бару!
                            Красочный и веселый праздник стал отправной точкой семьи и ее друзей в праздновании дней
                            рождени
                            й в White Park!</div>
                    </div>
                </div>
                <div class="main-slider-item">
                    <div class="project__slider">
                        <div class="project__slider_img slider-for">
                            <div class="slider__img_item"><a href="img/project-1.jpg"><div class="img-slider" style="background: url('img/project-1.jpg') no-repeat center; background-size: cover;"></div></a></div>
                            <div class="slider__img_item"><a href="img/project-2.jpg"><div class="img-slider" style="background: url('img/project-2.jpg') no-repeat center; background-size: cover;"></div></a></div>
                            <div class="slider__img_item"><a href="img/project-3.jpg"><div class="img-slider" style="background: url('img/project-3.jpg') no-repeat center; background-size: cover;"></div></a></div>
                            <div class="slider__img_item"><a href="img/project-1.jpg"><div class="img-slider" style="background: url('img/project-1.jpg') no-repeat center; background-size: cover;"></div></a></div>
                            <div class="slider__img_item"><a href="img/project-2.jpg"><div class="img-slider" style="background: url('img/project-2.jpg') no-repeat center; background-size: cover;"></div></a></div>
                            <div class="slider__img_item video-item"><a href="https://www.youtube.com/watch?v=z_neMO2t4jU"><div class="img-slider" style="background: url('img/project-3.jpg') no-repeat center; background-size: cover;"></div></a></div>
                        </div>


                        <div class="project__slider_nav slider-nav">
                            <div><img src="img/project-1.jpg" alt=""></div>
                            <div><img src="img/project-2.jpg" alt=""></div>
                            <div><img src="img/project-3.jpg" alt=""></div>
                            <div><img src="img/project-1.jpg" alt=""></div>
                            <div><img src="img/project-2.jpg" alt=""></div>
                            <div><img class="video-item-img" src="http://img.youtube.com/vi/z_neMO2t4jU/2.jpg" alt=""></div>
                        </div>
                    </div>

                    <div class="project__info">
                        <div class="project__info_main">
                            <div class="project__info_title">Свадьба</div>
                            <div class="project__info_subtitle">600 персон</div>
                        </div>

                        <div class="project__info_inner">
                            <p class="place">Площадка: Малый шатер</p>
                            <p class="format">Форматы: Фуршет</p>
                        </div>

                        <div class="project__info_text">Уютный детский праздник в стиле Hello Kitty для малышки и её друзей сумел остаться ввоспоминаниях детей и
                            взрослых на долгие годы, благодаря ярким волшебным декорациям,
                            разнообразным развлечениям, шоу мыльных пузырей, бумажной дискотеке и, конечно же, кенди
                            бару!
                            Красочный и веселый праздник стал отправной точкой семьи и ее друзей в праздновании дней
                            рождени
                            й в White Park!</div>
                    </div>
                </div>
                <div class="main-slider-item">
                    <div class="project__slider">
                        <div class="project__slider_img slider-for">
                            <div class="slider__img_item"><a href="img/project-1.jpg"><div class="img-slider" style="background: url('img/project-1.jpg') no-repeat center; background-size: cover;"></div></a></div>
                            <div class="slider__img_item"><a href="img/project-2.jpg"><div class="img-slider" style="background: url('img/project-2.jpg') no-repeat center; background-size: cover;"></div></a></div>
                            <div class="slider__img_item"><a href="img/project-3.jpg"><div class="img-slider" style="background: url('img/project-3.jpg') no-repeat center; background-size: cover;"></div></a></div>
                            <div class="slider__img_item"><a href="img/project-1.jpg"><div class="img-slider" style="background: url('img/project-1.jpg') no-repeat center; background-size: cover;"></div></a></div>
                            <div class="slider__img_item"><a href="img/project-2.jpg"><div class="img-slider" style="background: url('img/project-2.jpg') no-repeat center; background-size: cover;"></div></a></div>
                            <div class="slider__img_item video-item"><a href="https://www.youtube.com/watch?v=z_neMO2t4jU"><div class="img-slider" style="background: url('img/project-3.jpg') no-repeat center; background-size: cover;"></div></a></div>
                        </div>


                        <div class="project__slider_nav slider-nav">
                            <div><img src="img/project-1.jpg" alt=""></div>
                            <div><img src="img/project-2.jpg" alt=""></div>
                            <div><img src="img/project-3.jpg" alt=""></div>
                            <div><img src="img/project-1.jpg" alt=""></div>
                            <div><img src="img/project-2.jpg" alt=""></div>
                            <div><img class="video-item-img" src="http://img.youtube.com/vi/z_neMO2t4jU/2.jpg" alt=""></div>
                        </div>
                    </div>

                    <div class="project__info">
                        <div class="project__info_main">
                            <div class="project__info_title">Свадьба</div>
                            <div class="project__info_subtitle">600 персон</div>
                        </div>

                        <div class="project__info_inner">
                            <p class="place">Площадка: Малый шатер</p>
                            <p class="format">Форматы: Фуршет</p>
                        </div>

                        <div class="project__info_text">Уютный детский праздник в стиле Hello Kitty для малышки и её друзей сумел остаться ввоспоминаниях детей и
                            взрослых на долгие годы, благодаря ярким волшебным декорациям,
                            разнообразным развлечениям, шоу мыльных пузырей, бумажной дискотеке и, конечно же, кенди
                            бару!
                            Красочный и веселый праздник стал отправной точкой семьи и ее друзей в праздновании дней
                            рождени
                            й в White Park!</div>
                    </div>
                </div>

            </div>

            <button class="main-arrow-biz main-prev-biz"></button>
            <button class="main-arrow-biz main-next-biz"></button>

        </div>
        <!-- <div class="project__social">
            <div class="project__social_title">Мы в социальных сетях</div>
            <div class="project__social_inner">
                <img class="project__social_img" src="img/project-social-1.png" alt="">
                <img class="project__social_img" src="img/project-social-2.png" alt="">
                <img class="project__social_img" src="img/project-social-3.png" alt="">
                <img class="project__social_img" src="img/project-social-4.png" alt="">
            </div>
        </div> -->
    </div>

    <div class="close">
        <i class="icon-close"></i>
    </div>

    <img class="decor__img" src="img/decor-blue.png">
</div>




