<div class="popup-estimate">
    <div class="estimate hide-estimate">
        <img class="header__img" src="img/header-wave.png" alt="header">

        <div class="container">
            <div class="estimate__title">Рассчитаем смету на мероприятие за 1 час</div>
            <div class="estimate__text">Заполните все необходимые поля, наш менеджер свяжется с Вами и расчитает банкет за считанные минуты</div>
            <input class="input__name" type="text" placeholder="Введите Ваше Имя" name="name">
            <input class="input__email" type="tel" placeholder="Введите Ваш E-mail" name="email">

            <!-- появляется в случае error -->
            <p class="incorrect">Неправильно набран номер</p>

            <div class="accept">
                <input class="accept__check" type="checkbox" checked>
                <div class="accept__text">Согласие на обработку персональных данных</div>
            </div>
            <button class="btn__send">Отправить</button>

            <img class="arrow__img" src="img/bottom-arrow.png" alt="">
        </div><!-- /.container -->

        <div class="close-popup-estimate">
            <i class="icon-close"></i>
        </div>
    </div><!-- /.estimate -->
</div>