<div class="popup-gallery">
    <div class="project hide-gallery">
        <div class="container">
    
            <div class="project__title">Проекты</div>
    
            <div class="project__inner">
                <div class="project__slider">
    
                    <div class="project__slider_img slider-img-pr slider-for">
                        <img class="slider__img_item" src="img/project-1.png" alt="">
                        <img class="slider__img_item" src="img/project-1.png" alt="">
                        <img class="slider__img_item" src="img/project-1.png" alt="">
                        <img class="slider__img_item" src="img/project-1.png" alt="">
                        <img class="slider__img_item" src="img/project-1.png" alt="">
                    </div>
    
                    <div class="project__slider_nav slider-nav-pr slider-nav">
                        <img src="img/project-1.png" alt="">
                        <img src="img/project-1.png" alt="">
                        <img src="img/project-1.png" alt="">
                        <img src="img/project-1.png" alt="">
                        <img src="img/project-1.png" alt="">
                    </div>
                </div>
    
                <div class="project__info">
                    <div class="project__info_title">Юбилей</div>
    
                    <div class="project__info_subtitle">200 персон</div>
    
                    <div class="project__info_inner">
                        <p class="place"><span>Площадка:</span> Малый шатер</p>
                        <p class="format"><span>Форматы:</span> Фуршет</p>
                        <p class="target"><span>Задача:</span> Фуршет</p>
                    </div>
    
                    <div class="project__info_text">В самом сердце Москвы, воссоединились в черно-белой гармонии два прекрасных стиля — хайтек и классика. Четкие и прямые линии лофта, мягкая подсветка, зеркала и стекла на фуршетной линии. А декор из дерева оливы в фирменном стиле «White Park», придал изюминку оформлению вечера.</div>
                </div>
    
            </div>
            <div class="project__social">
                <div class="project__social_title">Мы в социальных сетях</div>
                <div class="project__social_inner">
                    <img class="project__social_img" src="img/project-social-1.png" alt="">
                    <img class="project__social_img" src="img/project-social-2.png" alt="">
                    <img class="project__social_img" src="img/project-social-3.png" alt="">
                    <img class="project__social_img" src="img/project-social-4.png" alt="">
                </div>
            </div>
        </div>

        <div class="close">
            <i class="icon-close"></i>
        </div>
    
        <img class="decor__img" src="img/decor-blue.png">
    </div>
</div>



