<div class="popup-zvonok">
    <div class="zvonok hide-zvonok">
        <img class="header__img" src="img/header-wave.png" alt="header">

        <div class="container">
            <div class="zvonok__title">Заказать звонок</div>
            <div class="zvonok__text">Оставте свой номер телефона и мы с вами свяжемся</div>
            <input class="input__name" type="text" placeholder="Введите Ваше Имя" name="name">
            <input class="input__phone" type="tel" placeholder="+7 (___)-___-__-__" name="phone">

            <!-- появляется в случае error -->
            <p class="incorrect">Неправильно набран номер</p>

            <div class="accept">
                <input class="accept__check" type="checkbox" chacked>
                <div class="accept__text">Согласие на обработку персональных данных</div>
            </div>
            <button class="btn__send">Отправить</button>

            <img class="arrow__img" src="img/bottom-arrow.png" alt="">
        </div><!-- /.container -->

        <div class="close-popup-zvonok">
            <i class="icon-close"></i>
        </div>
    </div><!-- /.zayavka -->
</div>