<div class="project hide-gallery popup-prj-2">
    <div class="container">

        <div class="project__title">Проекты</div>

        <div class="project__inner">
            <div class="main-slider-pr">

                <div class="main-slider-item">
                    <div class="project__slider">
                        <div class="project__slider_img slider-for">
                            <div class="slider__img_item"><img src="img/project-1.jpg" alt=""></div>
                            <div class="slider__img_item"><img src="img/project-2.jpg" alt=""></div>
                            <div class="slider__img_item"><img src="img/project-3.jpg" alt=""></div>
                        </div>


                        <div class="project__slider_nav slider-nav">
                            <div><img src="img/project-1.jpg" alt=""></div>
                            <div><img src="img/project-2.jpg" alt=""></div>
                            <div><img src="img/project-3.jpg" alt=""></div>
                            <div><img src="img/project-1.jpg" alt=""></div>
                            <div><img src="img/project-2.jpg" alt=""></div>
                        </div>
                    </div>

                    <div class="project__info">
                        <div class="project__info_main">
                            <div class="project__info_title">Детский праздник</div>
                            <div class="project__info_subtitle">200 персон</div>
                        </div>

                        <div class="project__info_inner">
                            <p class="place"><span>Площадка:</span> Малый шатер</p>
                            <p class="format"><span>Форматы:</span> Фуршет</p>
                            <p class="target"><span>Задача:</span> Фуршет</p>
                        </div>

                        <div class="project__info_text">Уютный детский праздник в стиле Hello Kitty для малышки и её друзей сумел остаться ввоспоминаниях детей и
                            взрослых на долгие годы, благодаря ярким волшебным декорациям,
                            разнообразным развлечениям, шоу мыльных пузырей, бумажной дискотеке и, конечно же, кенди
                            бару!
                            Красочный и веселый праздник стал отправной точкой семьи и ее друзей в праздновании дней
                            рождени
                            й в White Park!</div>
                    </div>
                </div>

                <div class="main-slider-item">
                    <div class="project__slider">
                        <div class="project__slider_img slider-for">
                            <div class="slider__img_item"><img src="img/project-1.jpg" alt=""></div>
                            <div class="slider__img_item"><img src="img/project-2.jpg" alt=""></div>
                            <div class="slider__img_item"><img src="img/project-3.jpg" alt=""></div>
                        </div>


                        <div class="project__slider_nav slider-nav">
                            <div><img src="img/project-1.jpg" alt=""></div>
                            <div><img src="img/project-2.jpg" alt=""></div>
                            <div><img src="img/project-3.jpg" alt=""></div>
                            <div><img src="img/project-1.jpg" alt=""></div>
                            <div><img src="img/project-2.jpg" alt=""></div>
                            <div><img src="img/project-3.jpg" alt=""></div>
                        </div>
                    </div>
                    <div class="project__info">
                        <div class="project__info_main">
                            <div class="project__info_title">День рождения</div>
                            <div class="project__info_subtitle">300 персон</div>
                        </div>

                        <div class="project__info_inner">
                            <p class="place"><span>Площадка:</span> Малый шатер</p>
                            <p class="format"><span>Форматы:</span> Фуршет</p>
                            <p class="target"><span>Задача:</span> Фуршет</p>
                        </div>

                        <div class="project__info_text">Очень душевный и красивый день рождения был проведён в одном из шатров White Park.
                            Праздник запомнился анимационной кухней, восхитительной музыкой, внимательной командой
                            персонала и незабываемыми эмоциями. Вечер был наполнен
                            трогательными речами и
                            восторженными отзывами наших гостей. А салют и свечи по всему комплексу создали атмосферу
                            невообразимо уютного праздника.</div>
                    </div>
                </div>
                <div class="main-slider-item">
                    <div class="project__slider">
                        <div class="project__slider_img slider-for">
                            <div class="slider__img_item"><img src="img/project-1.jpg" alt=""></div>
                            <div class="slider__img_item"><img src="img/project-2.jpg" alt=""></div>
                            <div class="slider__img_item"><img src="img/project-3.jpg" alt=""></div>
                        </div>


                        <div class="project__slider_nav slider-nav">
                            <div><img src="img/project-1.jpg" alt=""></div>
                            <div><img src="img/project-2.jpg" alt=""></div>
                            <div><img src="img/project-3.jpg" alt=""></div>
                            <div><img src="img/project-1.jpg" alt=""></div>
                            <div><img src="img/project-2.jpg" alt=""></div>
                            <div><img src="img/project-3.jpg" alt=""></div>
                        </div>
                    </div>
                    <div class="project__info">
                        <div class="project__info_main">
                            <div class="project__info_title">Свадьба 1</div>
                            <div class="project__info_subtitle">400 персон</div>
                        </div>

                        <div class="project__info_inner">
                            <p class="place"><span>Площадка:</span> Малый шатер</p>
                            <p class="format"><span>Форматы:</span> Фуршет</p>
                            <p class="target"><span>Задача:</span> Фуршет</p>
                        </div>

                        <div class="project__info_text">Молодожены выбрали яркий декор свадьбы с акцентом на красный и бирюзовый цвета. Задумка воплотилась лучшим образом! По всей территории комплекса лежали лепестки алых роз, фотокарточки из любимого фильма невесты и множество  других маленьких мелочей. Невеста исполнила песню о любви и удивила всех гостей своим прекрасным голосом. А завершилось мероприятие запуском воздушных шаров в ночное небо под трогательные речи молодожёнов!</div>
                    </div>
                </div>
            </div>

            <button class="main-arrow-pr main-prev-pr"></button>
            <button class="main-arrow-pr main-next-pr"></button>

        </div>
        <div class="project__social">
            <div class="project__social_title">Мы в социальных сетях</div>
            <div class="project__social_inner">
                <img class="project__social_img" src="img/project-social-1.png" alt="">
                <img class="project__social_img" src="img/project-social-2.png" alt="">
                <img class="project__social_img" src="img/project-social-3.png" alt="">
                <img class="project__social_img" src="img/project-social-4.png" alt="">
            </div>
        </div>
    </div>
    
    <div class="close">
        <i class="icon-close"></i>
    </div>

    <img class="decor__img" src="img/decor-blue.png">
</div>




