<div class="popup-app">
    <div class="app hide-app">
        <img class="header__img" src="img/header-wave.png" alt="header">

        <div class="container">
            <div class="app__title">Оставьте заявку</div>
            <div class="app__text">Оставьте почту сейчас и мы вышлем полное предложение с меню и прайсом на услуги</div>
            <input class="input__name" type="text" placeholder="Введите Ваше Имя" name="name">
            <input class="input__email" type="tel" placeholder="Введите Ваш E-mail" name="email">

            <!-- появляется в случае error -->
            <p class="incorrect">Неправильно набран номер</p>

            <div class="accept">
                <input class="accept__check" type="checkbox" checked>
                <div class="accept__text">Согласие на обработку персональных данных</div>
            </div>
            <button class="btn__send active-thanks">Отправить</button>

            <img class="arrow__img" src="img/bottom-arrow.png" alt="">
        </div><!-- /.container -->

        <div class="close-popup-app">
            <i class="icon-close"></i>
        </div>
    </div><!-- /.zayavka -->

</div>