
.icon-right-open-big:before { content: '\e800'; } /* '' */
.icon-left-open-big:before { content: '\e801'; } /* '' */
.icon-phone:before { content: '\e802'; } /* '' */
.icon-camera:before { content: '\e803'; } /* '' */
.icon-close:before { content: '\e804'; } /* '' */
.icon-file-download:before { content: '\e805'; } /* '' */
.icon-calculator:before { content: '\e806'; } /* '' */
.icon-menu:before { content: '\e807'; } /* '' */
.icon-instagram:before { content: '\e808'; } /* '' */
.icon-check:before { content: '\e809'; } /* '' */
.icon-location:before { content: '\f031'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-play-circled:before { content: '\f144'; } /* '' */
.icon-left:before { content: '\f177'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-paper-plane-1:before { content: '\f1d8'; } /* '' */